/*!
* NES.css v0.0.2(alpha)
*/
/*!
 * Bootstrap Reboot v4.1.3 (https://getbootstrap.com/)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 * Forked from Normalize.css, licensed MIT (https://github.com/necolas/normalize.css/blob/master/LICENSE.md)
 */

@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

* {
    box-sizing: border-box;
&::before, &::after {
                box-sizing: border-box;
            }
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@-ms-viewport {
    width: device-width;
}


article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, Noto Sans, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

[tabindex="-1"]:focus {
    outline: 0 !important;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

abbr {
&[title], &[data-original-title] {
               -webkit-text-decoration: underline dotted;
               text-decoration: underline;
               text-decoration: underline dotted;
               cursor: help;
               border-bottom: 0;
           }
}

address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}

ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol ol, ul ul, ol ul, ul ol {
    margin-bottom: 0;
}

dt {
    font-weight: 700;
}

dd {
    margin-bottom: 0.5rem;
    margin-left: 0;
}

blockquote {
    margin: 0 0 1rem;
}

b, strong {
    font-weight: bolder;
}

small {
    font-size: 80%;
}

sub, sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
&:hover {
     color: #0056b3;
     text-decoration: underline;
 }
&:not([href]):not([tabindex]) {
     color: inherit;
     text-decoration: none;
&:hover {
     color: inherit;
     text-decoration: none;
 }
&:focus {
     color: inherit;
     text-decoration: none;
     outline: 0;
 }
}
}

pre, code, kbd, samp {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 1em;
}

pre {
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
    -ms-overflow-style: scrollbar;
}

figure {
    margin: 0 0 1rem;
}

img {
    vertical-align: middle;
    border-style: none;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

caption {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: #6c757d;
    text-align: left;
    caption-side: bottom;
}

th {
    text-align: inherit;
}

label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

button {
    border-radius: 0;
}

input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, input {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

input {
&[type="radio"], &[type="checkbox"] {
                      box-sizing: border-box;
                      padding: 0;
                  }
&[type="date"], &[type="time"], &[type="datetime-local"], &[type="month"] {
                                                               -webkit-appearance: listbox;
                                                           }
}

textarea {
    overflow: auto;
    resize: vertical;
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

[type="number"] {
&::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
                                   height: auto;
                               }
}

[type="search"] {
    outline-offset: -2px;
    -webkit-appearance: none;
&::-webkit-search-decoration {
     -webkit-appearance: none;
 }
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
}

output {
    display: inline-block;
}

summary {
    display: list-item;
    cursor: pointer;
}

template {
    display: none;
}

[hidden] {
    display: none !important;
}

html, body, pre, code, kbd, samp {
    font-family: "Press Start 2P";
}

body {
    font-size: 16px;
    color: #212529;
    background-color: #fff;
}

button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: none;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}


.btn {
    position: relative;
    display: inline-block;
    padding: 10px 12px;
    margin: 4px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #212529;
    background-color: #fff;
    box-shadow: inset -4px -4px #adafbc;
&:hover {
     background-color: #e7e7e7;
     box-shadow: inset -6px -6px #adafbc;
 }
&:active {
     box-shadow: inset 4px 4px #adafbc;
 }
&::before, &::after {
                position: absolute;
                box-sizing: content-box;
                width: 100%;
                height: 100%;
                content: "";
                border-color: #212529;
                border-style: solid;
                border-width: 4px;
            }
&::before {
     top: -4px;
     left: 0;
     border-right: 2px;
     border-left: 2px;
 }
&::after {
     top: 0;
     left: -4px;
     border-top: 2px;
     border-bottom: 2px;
 }
&:focus {
     outline: 0;
 }
&.is-primary {
     color: #fff;
     background-color: #92cc41;
     box-shadow: inset -4px -4px #4aa52e;
&:hover {
     background-color: #76c442;
     box-shadow: inset -6px -6px #4aa52e;
 }
&:active {
     box-shadow: inset 4px 4px #4aa52e;
 }
}
&.is-success {
     color: #fff;
     background-color: #209cee;
     box-shadow: inset -4px -4px #006bb3;
&:hover {
     background-color: #108de0;
     box-shadow: inset -6px -6px #006bb3;
 }
&:active {
     box-shadow: inset 4px 4px #006bb3;
 }
}
&.is-warning {
     color: #212529;
     background-color: #f7d51d;
     box-shadow: inset -4px -4px #e59400;
&:hover {
     background-color: #f2c409;
     box-shadow: inset -6px -6px #e59400;
 }
&:active {
     box-shadow: inset 4px 4px #e59400;
 }
}
&.is-error {
     color: #fff;
     background-color: #e76e55;
     box-shadow: inset -4px -4px #8c2022;
&:hover {
     background-color: #ce372b;
     box-shadow: inset -6px -6px #8c2022;
 }
&:active {
     box-shadow: inset 4px 4px #8c2022;
 }
}
}

.container {
    position: relative;
    padding: 1.5rem 2rem;
> :last-child {
    margin-bottom: 0;
}
&::before, &::after {
                position: absolute;
                z-index: -1;
                content: "";
            }
&::before {
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
 }
&::after {
     top: 2px;
     right: 2px;
     bottom: 2px;
     left: 2px;
     border-color: #212529;
     border-style: solid;
     border-width: 4px;
     border-radius: 4px;
 }
&.is-rounded {
     padding: 1rem 1.5rem;
     margin: 14px 8px;
&::after {
     border: none;
     border-radius: 0;
     box-shadow: 0 -4px #fff, 0 -8px #212529, 4px 0 #fff, 4px -4px #212529, 8px 0 #212529, 0 4px #fff, 0 8px #212529, -4px 0 #fff, -4px 4px #212529, -8px 0 #212529, -4px -4px #212529, 4px 4px #212529;
 }
&.is-dark {
&::after {
     border: none;
     border-radius: 0;
     box-shadow: 0 -4px #212529, 0 -8px #fff, 4px 0 #212529, 4px -4px #fff, 8px 0 #fff, 0 4px #212529, 0 8px #fff, -4px 0 #212529, -4px 4px #fff, -8px 0 #fff, -4px -4px #fff, 4px 4px #fff;
 }
&::before {
     top: -8px;
     right: -8px;
     bottom: -8px;
     left: -8px;
 }
}
}
&.with-title {
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     padding-top: 2rem;
> .title {
    position: absolute;
    top: 0;
    padding: 0 0.5rem;
    margin: 0;
    font-size: 1rem;
    background-color: #fff;
}
&.is-center {
     align-items: center;
 }
&.is-right {
     align-items: right;
 }
}
&.is-dark {
&::before {
     background-color: #212529;
 }
&::after {
     border-color: #fff;
 }
> .title {
    color: #fff;
    background-color: #212529;
}
}
}

.radio {
    margin-right: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
+ span {
    position: relative;
}
&:checked + span::before {
     position: absolute;
     top: -2px;
     left: -20px;
     content: "";
     animation: blink 1s infinite steps(1);
     width: 2px;
     height: 2px;
     box-shadow: 2px 2px #212529,4px 2px #212529,2px 4px #212529,4px 4px #212529,6px 4px #212529,8px 4px #212529,2px 6px #212529,4px 6px #212529,6px 6px #212529,8px 6px #212529,10px 6px #212529,2px 8px #212529,4px 8px #212529,6px 8px #212529,8px 8px #212529,10px 8px #212529,12px 8px #212529,2px 10px #212529,4px 10px #212529,6px 10px #212529,8px 10px #212529,10px 10px #212529,2px 12px #212529,4px 12px #212529,6px 12px #212529,8px 12px #212529,2px 14px #212529,4px 14px #212529;
 }
}

.checkbox {
    margin-left: 28px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
+ span {
    position: relative;
&::before {
     position: absolute;
     top: -3px;
     left: -28px;
     content: "";
 }
}
&:checked {
+ span::before {
    position: absolute;
    top: -3px;
    left: -28px;
    content: "";
}
+ span::before {
    width: 2px;
    height: 2px;
    box-shadow: 2px 2px #212529,4px 2px #212529,6px 2px #212529,8px 2px #212529,10px 2px #212529,12px 2px #212529,14px 2px #212529,18px 2px #212529,20px 2px #212529,2px 4px #212529,16px 4px #212529,18px 4px #212529,20px 4px #212529,2px 6px #212529,14px 6px #212529,16px 6px #212529,2px 8px #212529,4px 8px #212529,12px 8px #212529,14px 8px #212529,2px 10px #212529,4px 10px #212529,6px 10px #212529,10px 10px #212529,12px 10px #212529,16px 10px #212529,2px 12px #212529,6px 12px #212529,8px 12px #212529,10px 12px #212529,16px 12px #212529,2px 14px #212529,8px 14px #212529,16px 14px #212529,2px 16px #212529,4px 16px #212529,6px 16px #212529,8px 16px #212529,10px 16px #212529,12px 16px #212529,14px 16px #212529,16px 16px #212529;
}
}
+ span::before {
    /* stylelint-disable-line no-descending-specificity */
    width: 2px;
    height: 2px;
    box-shadow: 2px 2px #212529,4px 2px #212529,6px 2px #212529,8px 2px #212529,10px 2px #212529,12px 2px #212529,14px 2px #212529,16px 2px #212529,2px 4px #212529,16px 4px #212529,2px 6px #212529,16px 6px #212529,2px 8px #212529,16px 8px #212529,2px 10px #212529,16px 10px #212529,2px 12px #212529,16px 12px #212529,2px 14px #212529,16px 14px #212529,2px 16px #212529,4px 16px #212529,6px 16px #212529,8px 16px #212529,10px 16px #212529,12px 16px #212529,14px 16px #212529,16px 16px #212529;
}
}

.balloon {
    position: relative;
    display: inline-block;
    padding: 1rem 1.5rem;
    margin: 8px;
    margin-bottom: 30px;
    background-color: #fff;
    box-shadow: 0 -4px #fff, 0 -8px #212529, 4px 0 #fff, 4px -4px #212529, 8px 0 #212529, 0 4px #fff, 0 8px #212529, -4px 0 #fff, -4px 4px #212529, -8px 0 #212529, -4px -4px #212529, 4px 4px #212529;
> :last-child {
    margin-bottom: 0;
}
&::before, &::after {
                position: absolute;
                content: "";
            }
&.from-left {
&::before, &::after {
                left: 2rem;
            }
&::before {
     bottom: -14px;
     width: 26px;
     height: 10px;
     background-color: #fff;
     border-right: 4px solid #212529;
     border-left: 4px solid #212529;
 }
&::after {
     bottom: -18px;
     width: 18px;
     height: 3px;
     margin-right: 8px;
     background-color: #fff;
     box-shadow: -4px 0 #212529, 4px 0 #212529, -4px 4px #fff, 0 4px #212529, -8px 4px #212529, -4px 8px #212529, -8px 8px #212529;
 }
}
&.from-right {
&::before, &::after {
                right: 2rem;
            }
&::before {
     bottom: -14px;
     width: 26px;
     height: 10px;
     background-color: #fff;
     border-right: 4px solid #212529;
     border-left: 4px solid #212529;
 }
&::after {
     bottom: -18px;
     width: 18px;
     height: 3px;
     margin-left: 8px;
     background-color: #fff;
     box-shadow: -4px 0 #212529, 4px 0 #212529, 4px 4px #fff, 0 4px #212529, 8px 4px #212529, 4px 8px #212529, 8px 8px #212529;
 }
}
}

.input {
    padding: 0.5rem 1rem;
    margin: 4px;
    border: none;
    box-shadow: 0 4px #212529, 0 -4px #212529, 4px 0 #212529, -4px 0 #212529;
&.is-success {
     box-shadow: 0 4px #209cee, 0 -4px #209cee, 4px 0 #209cee, -4px 0 #209cee;
 }
&.is-warning {
     box-shadow: 0 4px #f7d51d, 0 -4px #f7d51d, 4px 0 #f7d51d, -4px 0 #f7d51d;
 }
&.is-error {
     box-shadow: 0 4px #e76e55, 0 -4px #e76e55, 4px 0 #e76e55, -4px 0 #e76e55;
 }
}

.field {
> label, .input {
    display: block;
}
&.is-inline {
     display: flex;
     align-items: center;
> label {
    flex-basis: 0;
    flex-grow: 1;
    margin: 0;
    margin-right: 1.5rem;
    text-align: right;
}
.input {
    flex-basis: 0;
    flex-grow: 5;
}
}
}

.icon {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 32px;
&::before {
     position: absolute;
     top: -2px;
     left: -2px;
     display: block;
     width: 32px;
     height: 32px;
     content: "";
     background: transparent;
 }
&.heart::before {
     width: 2px;
     height: 2px;
     box-shadow: 6px 4px #444,8px 4px #444,10px 4px #444,22px 4px #444,24px 4px #444,26px 4px #444,4px 6px #444,6px 6px #f22426,8px 6px #f22426,10px 6px #f22426,12px 6px #444,20px 6px #444,22px 6px #f22426,24px 6px #f22426,26px 6px #842300,28px 6px #444,2px 8px #444,4px 8px #f22426,6px 8px #fff,8px 8px #fff,10px 8px #f22426,12px 8px #f22426,14px 8px #444,18px 8px #444,20px 8px #f22426,22px 8px #f22426,24px 8px #f22426,26px 8px #f22426,28px 8px #842300,30px 8px #444,2px 10px #444,4px 10px #f22426,6px 10px #fff,8px 10px #f22426,10px 10px #f22426,12px 10px #f22426,14px 10px #f22426,16px 10px #444,18px 10px #f22426,20px 10px #f22426,22px 10px #f22426,24px 10px #f22426,26px 10px #f22426,28px 10px #842300,30px 10px #444,2px 12px #444,4px 12px #f22426,6px 12px #f22426,8px 12px #f22426,10px 12px #f22426,12px 12px #f22426,14px 12px #f22426,16px 12px #f22426,18px 12px #f22426,20px 12px #f22426,22px 12px #f22426,24px 12px #f22426,26px 12px #f22426,28px 12px #842300,30px 12px #444,2px 14px #444,4px 14px #f22426,6px 14px #f22426,8px 14px #f22426,10px 14px #f22426,12px 14px #f22426,14px 14px #f22426,16px 14px #f22426,18px 14px #f22426,20px 14px #f22426,22px 14px #f22426,24px 14px #f22426,26px 14px #f22426,28px 14px #842300,30px 14px #444,2px 16px #444,4px 16px #f22426,6px 16px #f22426,8px 16px #f22426,10px 16px #f22426,12px 16px #f22426,14px 16px #f22426,16px 16px #f22426,18px 16px #f22426,20px 16px #f22426,22px 16px #f22426,24px 16px #f22426,26px 16px #f22426,28px 16px #842300,30px 16px #444,4px 18px #444,6px 18px #f22426,8px 18px #f22426,10px 18px #f22426,12px 18px #f22426,14px 18px #f22426,16px 18px #f22426,18px 18px #f22426,20px 18px #f22426,22px 18px #f22426,24px 18px #f22426,26px 18px #842300,28px 18px #444,6px 20px #444,8px 20px #f22426,10px 20px #f22426,12px 20px #f22426,14px 20px #f22426,16px 20px #f22426,18px 20px #f22426,20px 20px #f22426,22px 20px #f22426,24px 20px #842300,26px 20px #444,8px 22px #444,10px 22px #f22426,12px 22px #f22426,14px 22px #f22426,16px 22px #f22426,18px 22px #f22426,20px 22px #f22426,22px 22px #842300,24px 22px #444,10px 24px #444,12px 24px #f22426,14px 24px #f22426,16px 24px #f22426,18px 24px #f22426,20px 24px #842300,22px 24px #444,12px 26px #444,14px 26px #f22426,16px 26px #f22426,18px 26px #842300,20px 26px #444,14px 28px #444,16px 28px #842300,18px 28px #444,16px 30px #444;
 }
&.star::before {
     width: 2px;
     height: 2px;
     box-shadow: 16px 2px #444,14px 4px #444,16px 4px #ebe527,18px 4px #444,14px 6px #444,16px 6px #ebe527,18px 6px #444,12px 8px #444,14px 8px #ebe527,16px 8px #ebe527,18px 8px #ebe527,20px 8px #444,12px 10px #444,14px 10px #fff,16px 10px #fff,18px 10px #ebe527,20px 10px #444,2px 12px #444,4px 12px #444,6px 12px #444,8px 12px #444,10px 12px #444,12px 12px #444,14px 12px #fff,16px 12px #ebe527,18px 12px #ebe527,20px 12px #ebe527,22px 12px #444,24px 12px #444,26px 12px #444,28px 12px #444,30px 12px #444,2px 14px #444,4px 14px #ebe527,6px 14px #ebe527,8px 14px #ebe527,10px 14px #fff,12px 14px #fff,14px 14px #ebe527,16px 14px #ebe527,18px 14px #ebe527,20px 14px #ebe527,22px 14px #ebe527,24px 14px #ebe527,26px 14px #ebe527,28px 14px #ebe527,30px 14px #444,4px 16px #444,6px 16px #ebe527,8px 16px #ebe527,10px 16px #fff,12px 16px #ebe527,14px 16px #ebe527,16px 16px #ebe527,18px 16px #ebe527,20px 16px #ebe527,22px 16px #ebe527,24px 16px #ebe527,26px 16px #f59f54,28px 16px #444,6px 18px #444,8px 18px #ebe527,10px 18px #ebe527,12px 18px #ebe527,14px 18px #ebe527,16px 18px #ebe527,18px 18px #ebe527,20px 18px #ebe527,22px 18px #f59f54,24px 18px #f59f54,26px 18px #444,8px 20px #444,10px 20px #ebe527,12px 20px #ebe527,14px 20px #ebe527,16px 20px #ebe527,18px 20px #ebe527,20px 20px #ebe527,22px 20px #ebe527,24px 20px #444,6px 22px #444,8px 22px #ebe527,10px 22px #ebe527,12px 22px #ebe527,14px 22px #ebe527,16px 22px #f59f54,18px 22px #ebe527,20px 22px #ebe527,22px 22px #ebe527,24px 22px #ebe527,26px 22px #444,6px 24px #444,8px 24px #ebe527,10px 24px #ebe527,12px 24px #ebe527,14px 24px #f59f54,16px 24px #f59f54,18px 24px #f59f54,20px 24px #ebe527,22px 24px #ebe527,24px 24px #ebe527,26px 24px #444,4px 26px #444,6px 26px #ebe527,8px 26px #ebe527,10px 26px #f59f54,12px 26px #f59f54,14px 26px #f59f54,16px 26px #444,18px 26px #f59f54,20px 26px #f59f54,22px 26px #f59f54,24px 26px #ebe527,26px 26px #ebe527,28px 26px #444,4px 28px #444,6px 28px #ebe527,8px 28px #f59f54,10px 28px #f59f54,12px 28px #444,14px 28px #444,18px 28px #444,20px 28px #444,22px 28px #f59f54,24px 28px #f59f54,26px 28px #ebe527,28px 28px #444,2px 30px #444,4px 30px #f59f54,6px 30px #f59f54,8px 30px #444,10px 30px #444,22px 30px #444,24px 30px #444,26px 30px #f59f54,28px 30px #f59f54,30px 30px #444,2px 32px #444,4px 32px #444,6px 32px #444,26px 32px #444,28px 32px #444,30px 32px #444;
 }
&.like::before {
     width: 2px;
     height: 2px;
     box-shadow: 16px 4px #333,18px 4px #333,16px 6px #333,18px 6px #fff,20px 6px #333,16px 8px #333,18px 8px #fff,20px 8px #333,14px 10px #333,16px 10px #fff,18px 10px #fff,20px 10px #333,14px 12px #333,16px 12px #fff,18px 12px #fff,20px 12px #333,22px 12px #333,24px 12px #333,26px 12px #333,28px 12px #333,30px 12px #333,12px 14px #333,14px 14px #fff,16px 14px #fff,18px 14px #fff,20px 14px #fff,22px 14px #fff,24px 14px #fff,26px 14px #fff,28px 14px #fff,30px 14px #fff,32px 14px #333,4px 16px #333,6px 16px #333,8px 16px #333,12px 16px #333,14px 16px #fff,16px 16px #fff,18px 16px #fff,20px 16px #fff,22px 16px #fff,24px 16px #fff,26px 16px #fff,28px 16px #fff,30px 16px #fff,32px 16px #333,2px 18px #333,4px 18px #2e77be,6px 18px #2e77be,8px 18px #2e77be,10px 18px #333,12px 18px #fff,14px 18px #fff,16px 18px #fff,18px 18px #fff,20px 18px #fff,22px 18px #fff,24px 18px #fff,26px 18px #fff,28px 18px #fff,30px 18px #fff,32px 18px #333,2px 20px #333,4px 20px #2e77be,6px 20px #2e77be,8px 20px #2e77be,10px 20px #333,12px 20px #fff,14px 20px #fff,16px 20px #fff,18px 20px #fff,20px 20px #fff,22px 20px #fff,24px 20px #fff,26px 20px #fff,28px 20px #fff,30px 20px #333,2px 22px #333,4px 22px #2e77be,6px 22px #2e77be,8px 22px #2e77be,10px 22px #333,12px 22px #fff,14px 22px #fff,16px 22px #fff,18px 22px #fff,20px 22px #fff,22px 22px #fff,24px 22px #fff,26px 22px #fff,28px 22px #fff,30px 22px #333,2px 24px #333,4px 24px #2e77be,6px 24px #2e77be,8px 24px #2e77be,10px 24px #333,12px 24px #fff,14px 24px #fff,16px 24px #fff,18px 24px #fff,20px 24px #fff,22px 24px #fff,24px 24px #fff,26px 24px #fff,28px 24px #fff,30px 24px #333,2px 26px #333,4px 26px #2e77be,6px 26px #2e77be,8px 26px #2e77be,10px 26px #333,12px 26px #fff,14px 26px #fff,16px 26px #fff,18px 26px #fff,20px 26px #fff,22px 26px #fff,24px 26px #fff,26px 26px #fff,28px 26px #333,2px 28px #333,4px 28px #2e77be,6px 28px #2e77be,8px 28px #2e77be,10px 28px #333,12px 28px #fff,14px 28px #fff,16px 28px #fff,18px 28px #fff,20px 28px #fff,22px 28px #fff,24px 28px #fff,26px 28px #fff,28px 28px #333,4px 30px #333,6px 30px #333,8px 30px #333,12px 30px #333,14px 30px #333,16px 30px #333,18px 30px #333,20px 30px #333,22px 30px #333,24px 30px #333,26px 30px #333;
 }
&.twitter::before {
     width: 2px;
     height: 2px;
     box-shadow: 4px 2px #2c9ceb,6px 2px #2c9ceb,8px 2px #2c9ceb,10px 2px #2c9ceb,12px 2px #2c9ceb,14px 2px #2c9ceb,16px 2px #2c9ceb,18px 2px #2c9ceb,20px 2px #2c9ceb,22px 2px #2c9ceb,24px 2px #2c9ceb,26px 2px #2c9ceb,28px 2px #2c9ceb,30px 2px #2c9ceb,2px 4px #2c9ceb,4px 4px #2c9ceb,6px 4px #2c9ceb,8px 4px #2c9ceb,10px 4px #2c9ceb,12px 4px #2c9ceb,14px 4px #2c9ceb,16px 4px #2c9ceb,18px 4px #2c9ceb,20px 4px #2c9ceb,22px 4px #2c9ceb,24px 4px #2c9ceb,26px 4px #2c9ceb,28px 4px #2c9ceb,30px 4px #2c9ceb,32px 4px #2c9ceb,2px 6px #2c9ceb,6px 6px #2c9ceb,8px 6px #2c9ceb,10px 6px #2c9ceb,12px 6px #2c9ceb,14px 6px #2c9ceb,16px 6px #2c9ceb,18px 6px #2c9ceb,20px 6px #fff,22px 6px #fff,24px 6px #fff,26px 6px #2c9ceb,28px 6px #2c9ceb,30px 6px #2c9ceb,32px 6px #2c9ceb,2px 8px #2c9ceb,4px 8px #fff,6px 8px #fff,8px 8px #fff,10px 8px #2c9ceb,12px 8px #2c9ceb,14px 8px #2c9ceb,16px 8px #2c9ceb,18px 8px #fff,20px 8px #fff,22px 8px #fff,24px 8px #fff,26px 8px #fff,28px 8px #2c9ceb,30px 8px #2c9ceb,32px 8px #2c9ceb,2px 10px #2c9ceb,4px 10px #fff,6px 10px #fff,8px 10px #fff,10px 10px #fff,12px 10px #fff,14px 10px #2c9ceb,16px 10px #fff,18px 10px #fff,20px 10px #fff,22px 10px #fff,24px 10px #fff,26px 10px #fff,28px 10px #fff,30px 10px #fff,32px 10px #2c9ceb,2px 12px #2c9ceb,4px 12px #2c9ceb,6px 12px #fff,8px 12px #fff,10px 12px #fff,12px 12px #fff,14px 12px #fff,16px 12px #fff,18px 12px #fff,20px 12px #fff,22px 12px #fff,24px 12px #fff,26px 12px #fff,28px 12px #fff,30px 12px #2c9ceb,32px 12px #2c9ceb,2px 14px #2c9ceb,4px 14px #2c9ceb,6px 14px #fff,8px 14px #fff,10px 14px #fff,12px 14px #fff,14px 14px #fff,16px 14px #fff,18px 14px #fff,20px 14px #fff,22px 14px #fff,24px 14px #fff,26px 14px #fff,28px 14px #fff,30px 14px #2c9ceb,32px 14px #2c9ceb,2px 16px #2c9ceb,4px 16px #2c9ceb,6px 16px #2c9ceb,8px 16px #fff,10px 16px #fff,12px 16px #fff,14px 16px #fff,16px 16px #fff,18px 16px #fff,20px 16px #fff,22px 16px #fff,24px 16px #fff,26px 16px #fff,28px 16px #2c9ceb,30px 16px #2c9ceb,32px 16px #2c9ceb,2px 18px #2c9ceb,4px 18px #2c9ceb,6px 18px #2c9ceb,8px 18px #fff,10px 18px #fff,12px 18px #fff,14px 18px #fff,16px 18px #fff,18px 18px #fff,20px 18px #fff,22px 18px #fff,24px 18px #fff,26px 18px #2c9ceb,28px 18px #2c9ceb,30px 18px #2c9ceb,32px 18px #2c9ceb,2px 20px #2c9ceb,4px 20px #2c9ceb,6px 20px #2c9ceb,8px 20px #2c9ceb,10px 20px #fff,12px 20px #fff,14px 20px #fff,16px 20px #fff,18px 20px #fff,20px 20px #fff,22px 20px #fff,24px 20px #fff,26px 20px #2c9ceb,28px 20px #2c9ceb,30px 20px #2c9ceb,32px 20px #2c9ceb,2px 22px #2c9ceb,4px 22px #2c9ceb,6px 22px #2c9ceb,8px 22px #2c9ceb,10px 22px #2c9ceb,12px 22px #fff,14px 22px #fff,16px 22px #fff,18px 22px #fff,20px 22px #fff,22px 22px #fff,24px 22px #fff,26px 22px #2c9ceb,28px 22px #2c9ceb,30px 22px #2c9ceb,32px 22px #2c9ceb,2px 24px #2c9ceb,4px 24px #2c9ceb,6px 24px #2c9ceb,8px 24px #2c9ceb,10px 24px #fff,12px 24px #fff,14px 24px #fff,16px 24px #fff,18px 24px #fff,20px 24px #fff,22px 24px #fff,24px 24px #2c9ceb,26px 24px #2c9ceb,28px 24px #2c9ceb,30px 24px #2c9ceb,32px 24px #2c9ceb,2px 26px #2c9ceb,4px 26px #2c9ceb,6px 26px #fff,8px 26px #fff,10px 26px #fff,12px 26px #fff,14px 26px #fff,16px 26px #fff,18px 26px #fff,20px 26px #2c9ceb,22px 26px #2c9ceb,24px 26px #2c9ceb,26px 26px #2c9ceb,28px 26px #2c9ceb,30px 26px #2c9ceb,32px 26px #2c9ceb,2px 28px #2c9ceb,4px 28px #2c9ceb,6px 28px #2c9ceb,8px 28px #fff,10px 28px #fff,12px 28px #fff,14px 28px #2c9ceb,16px 28px #2c9ceb,18px 28px #2c9ceb,20px 28px #2c9ceb,22px 28px #2c9ceb,24px 28px #2c9ceb,26px 28px #2c9ceb,28px 28px #2c9ceb,30px 28px #2c9ceb,32px 28px #2c9ceb,2px 30px #2c9ceb,4px 30px #2c9ceb,6px 30px #2c9ceb,8px 30px #2c9ceb,10px 30px #2c9ceb,12px 30px #2c9ceb,14px 30px #2c9ceb,16px 30px #2c9ceb,18px 30px #2c9ceb,20px 30px #2c9ceb,22px 30px #2c9ceb,24px 30px #2c9ceb,26px 30px #2c9ceb,28px 30px #2c9ceb,30px 30px #2c9ceb,32px 30px #2c9ceb,4px 32px #2c9ceb,6px 32px #2c9ceb,8px 32px #2c9ceb,10px 32px #2c9ceb,12px 32px #2c9ceb,14px 32px #2c9ceb,16px 32px #2c9ceb,18px 32px #2c9ceb,20px 32px #2c9ceb,22px 32px #2c9ceb,24px 32px #2c9ceb,26px 32px #2c9ceb,28px 32px #2c9ceb,30px 32px #2c9ceb;
 }
&.facebook::before {
     width: 2px;
     height: 2px;
     box-shadow: 4px 2px #4566ae,6px 2px #4566ae,8px 2px #4566ae,10px 2px #4566ae,12px 2px #4566ae,14px 2px #4566ae,16px 2px #4566ae,18px 2px #4566ae,20px 2px #4566ae,22px 2px #4566ae,24px 2px #4566ae,26px 2px #4566ae,28px 2px #4566ae,30px 2px #4566ae,2px 4px #4566ae,4px 4px #4566ae,6px 4px #4566ae,8px 4px #4566ae,10px 4px #4566ae,12px 4px #4566ae,14px 4px #4566ae,16px 4px #4566ae,18px 4px #4566ae,20px 4px #4566ae,22px 4px #fff,24px 4px #fff,26px 4px #fff,28px 4px #fff,30px 4px #4566ae,32px 4px #4566ae,2px 6px #4566ae,4px 6px #4566ae,6px 6px #4566ae,8px 6px #4566ae,10px 6px #4566ae,12px 6px #4566ae,14px 6px #4566ae,16px 6px #4566ae,18px 6px #4566ae,20px 6px #fff,22px 6px #fff,24px 6px #fff,26px 6px #fff,28px 6px #fff,30px 6px #4566ae,32px 6px #4566ae,2px 8px #4566ae,4px 8px #4566ae,6px 8px #4566ae,8px 8px #4566ae,10px 8px #4566ae,12px 8px #4566ae,14px 8px #4566ae,16px 8px #4566ae,18px 8px #fff,20px 8px #fff,22px 8px #fff,24px 8px #fff,26px 8px #fff,28px 8px #fff,30px 8px #4566ae,32px 8px #4566ae,2px 10px #4566ae,4px 10px #4566ae,6px 10px #4566ae,8px 10px #4566ae,10px 10px #4566ae,12px 10px #4566ae,14px 10px #4566ae,16px 10px #4566ae,18px 10px #fff,20px 10px #fff,22px 10px #fff,24px 10px #4566ae,26px 10px #4566ae,28px 10px #4566ae,30px 10px #4566ae,32px 10px #4566ae,2px 12px #4566ae,4px 12px #4566ae,6px 12px #4566ae,8px 12px #4566ae,10px 12px #4566ae,12px 12px #4566ae,14px 12px #4566ae,16px 12px #4566ae,18px 12px #fff,20px 12px #fff,22px 12px #fff,24px 12px #4566ae,26px 12px #4566ae,28px 12px #4566ae,30px 12px #4566ae,32px 12px #4566ae,2px 14px #4566ae,4px 14px #4566ae,6px 14px #4566ae,8px 14px #4566ae,10px 14px #4566ae,12px 14px #4566ae,14px 14px #4566ae,16px 14px #4566ae,18px 14px #fff,20px 14px #fff,22px 14px #fff,24px 14px #4566ae,26px 14px #4566ae,28px 14px #4566ae,30px 14px #4566ae,32px 14px #4566ae,2px 16px #4566ae,4px 16px #4566ae,6px 16px #4566ae,8px 16px #4566ae,10px 16px #4566ae,12px 16px #fff,14px 16px #fff,16px 16px #fff,18px 16px #fff,20px 16px #fff,22px 16px #fff,24px 16px #fff,26px 16px #fff,28px 16px #fff,30px 16px #4566ae,32px 16px #4566ae,2px 18px #4566ae,4px 18px #4566ae,6px 18px #4566ae,8px 18px #4566ae,10px 18px #4566ae,12px 18px #fff,14px 18px #fff,16px 18px #fff,18px 18px #fff,20px 18px #fff,22px 18px #fff,24px 18px #fff,26px 18px #fff,28px 18px #fff,30px 18px #4566ae,32px 18px #4566ae,2px 20px #4566ae,4px 20px #4566ae,6px 20px #4566ae,8px 20px #4566ae,10px 20px #4566ae,12px 20px #fff,14px 20px #fff,16px 20px #fff,18px 20px #fff,20px 20px #fff,22px 20px #fff,24px 20px #fff,26px 20px #fff,28px 20px #fff,30px 20px #4566ae,32px 20px #4566ae,2px 22px #4566ae,4px 22px #4566ae,6px 22px #4566ae,8px 22px #4566ae,10px 22px #4566ae,12px 22px #4566ae,14px 22px #4566ae,16px 22px #4566ae,18px 22px #fff,20px 22px #fff,22px 22px #fff,24px 22px #4566ae,26px 22px #4566ae,28px 22px #4566ae,30px 22px #4566ae,32px 22px #4566ae,2px 24px #4566ae,4px 24px #4566ae,6px 24px #4566ae,8px 24px #4566ae,10px 24px #4566ae,12px 24px #4566ae,14px 24px #4566ae,16px 24px #4566ae,18px 24px #fff,20px 24px #fff,22px 24px #fff,24px 24px #4566ae,26px 24px #4566ae,28px 24px #4566ae,30px 24px #4566ae,32px 24px #4566ae,2px 26px #4566ae,4px 26px #4566ae,6px 26px #4566ae,8px 26px #4566ae,10px 26px #4566ae,12px 26px #4566ae,14px 26px #4566ae,16px 26px #4566ae,18px 26px #fff,20px 26px #fff,22px 26px #fff,24px 26px #4566ae,26px 26px #4566ae,28px 26px #4566ae,30px 26px #4566ae,32px 26px #4566ae,2px 28px #4566ae,4px 28px #4566ae,6px 28px #4566ae,8px 28px #4566ae,10px 28px #4566ae,12px 28px #4566ae,14px 28px #4566ae,16px 28px #4566ae,18px 28px #fff,20px 28px #fff,22px 28px #fff,24px 28px #4566ae,26px 28px #4566ae,28px 28px #4566ae,30px 28px #4566ae,32px 28px #4566ae,2px 30px #4566ae,4px 30px #4566ae,6px 30px #4566ae,8px 30px #4566ae,10px 30px #4566ae,12px 30px #4566ae,14px 30px #4566ae,16px 30px #4566ae,18px 30px #fff,20px 30px #fff,22px 30px #fff,24px 30px #4566ae,26px 30px #4566ae,28px 30px #4566ae,30px 30px #4566ae,32px 30px #4566ae,4px 32px #4566ae,6px 32px #4566ae,8px 32px #4566ae,10px 32px #4566ae,12px 32px #4566ae,14px 32px #4566ae,16px 32px #4566ae,18px 32px #fff,20px 32px #fff,22px 32px #fff,24px 32px #4566ae,26px 32px #4566ae,28px 32px #4566ae,30px 32px #4566ae;
 }
&.github::before {
     width: 2px;
     height: 2px;
     box-shadow: 4px 2px #333,6px 2px #333,8px 2px #333,10px 2px #333,12px 2px #333,14px 2px #333,16px 2px #333,18px 2px #333,20px 2px #333,22px 2px #333,24px 2px #333,26px 2px #333,28px 2px #333,30px 2px #333,2px 4px #333,4px 4px #333,6px 4px #333,8px 4px #333,10px 4px #fff,12px 4px #333,14px 4px #333,16px 4px #333,18px 4px #333,20px 4px #333,22px 4px #333,24px 4px #333,26px 4px #333,28px 4px #fff,30px 4px #333,32px 4px #333,2px 6px #333,4px 6px #333,6px 6px #333,8px 6px #333,10px 6px #fff,12px 6px #fff,14px 6px #333,16px 6px #333,18px 6px #333,20px 6px #333,22px 6px #333,24px 6px #333,26px 6px #fff,28px 6px #fff,30px 6px #333,32px 6px #333,2px 8px #333,4px 8px #333,6px 8px #333,8px 8px #333,10px 8px #fff,12px 8px #fff,14px 8px #fff,16px 8px #fff,18px 8px #fff,20px 8px #fff,22px 8px #fff,24px 8px #fff,26px 8px #fff,28px 8px #fff,30px 8px #333,32px 8px #333,2px 10px #333,4px 10px #333,6px 10px #333,8px 10px #fff,10px 10px #fff,12px 10px #fff,14px 10px #fff,16px 10px #fff,18px 10px #fff,20px 10px #fff,22px 10px #fff,24px 10px #fff,26px 10px #fff,28px 10px #fff,30px 10px #fff,32px 10px #333,2px 12px #333,4px 12px #333,6px 12px #333,8px 12px #fff,10px 12px #fff,12px 12px #fff,14px 12px #fff,16px 12px #fff,18px 12px #fff,20px 12px #fff,22px 12px #fff,24px 12px #fff,26px 12px #fff,28px 12px #fff,30px 12px #fff,32px 12px #333,2px 14px #333,4px 14px #333,6px 14px #333,8px 14px #fff,10px 14px #fff,12px 14px #fff,14px 14px #fff,16px 14px #fff,18px 14px #fff,20px 14px #fff,22px 14px #fff,24px 14px #fff,26px 14px #fff,28px 14px #fff,30px 14px #fff,32px 14px #333,2px 16px #333,4px 16px #333,6px 16px #333,8px 16px #fff,10px 16px #fff,12px 16px #fff,14px 16px #fff,16px 16px #fff,18px 16px #fff,20px 16px #fff,22px 16px #fff,24px 16px #fff,26px 16px #fff,28px 16px #fff,30px 16px #fff,32px 16px #333,2px 18px #333,4px 18px #333,6px 18px #333,8px 18px #333,10px 18px #fff,12px 18px #fff,14px 18px #fff,16px 18px #fff,18px 18px #fff,20px 18px #fff,22px 18px #fff,24px 18px #fff,26px 18px #fff,28px 18px #fff,30px 18px #333,32px 18px #333,2px 20px #333,4px 20px #333,6px 20px #333,8px 20px #333,10px 20px #333,12px 20px #fff,14px 20px #fff,16px 20px #fff,18px 20px #fff,20px 20px #fff,22px 20px #fff,24px 20px #fff,26px 20px #fff,28px 20px #333,30px 20px #333,32px 20px #333,2px 22px #333,4px 22px #fff,6px 22px #fff,8px 22px #333,10px 22px #333,12px 22px #333,14px 22px #333,16px 22px #fff,18px 22px #fff,20px 22px #fff,22px 22px #fff,24px 22px #333,26px 22px #333,28px 22px #333,30px 22px #333,32px 22px #333,2px 24px #333,4px 24px #333,6px 24px #333,8px 24px #fff,10px 24px #333,12px 24px #333,14px 24px #fff,16px 24px #fff,18px 24px #fff,20px 24px #fff,22px 24px #fff,24px 24px #fff,26px 24px #333,28px 24px #333,30px 24px #333,32px 24px #333,2px 26px #333,4px 26px #333,6px 26px #333,8px 26px #333,10px 26px #fff,12px 26px #fff,14px 26px #fff,16px 26px #fff,18px 26px #fff,20px 26px #fff,22px 26px #fff,24px 26px #fff,26px 26px #333,28px 26px #333,30px 26px #333,32px 26px #333,2px 28px #333,4px 28px #333,6px 28px #333,8px 28px #333,10px 28px #333,12px 28px #333,14px 28px #fff,16px 28px #fff,18px 28px #fff,20px 28px #fff,22px 28px #fff,24px 28px #fff,26px 28px #333,28px 28px #333,30px 28px #333,32px 28px #333,2px 30px #333,4px 30px #333,6px 30px #333,8px 30px #333,10px 30px #333,12px 30px #333,14px 30px #fff,16px 30px #fff,18px 30px #fff,20px 30px #fff,22px 30px #fff,24px 30px #fff,26px 30px #333,28px 30px #333,30px 30px #333,32px 30px #333,4px 32px #333,6px 32px #333,8px 32px #333,10px 32px #333,12px 32px #333,14px 32px #333,16px 32px #333,18px 32px #333,20px 32px #333,22px 32px #333,24px 32px #333,26px 32px #333,28px 32px #333,30px 32px #333;
 }
&.close::before {
     width: 2px;
     height: 2px;
     box-shadow: 2px 2px #212529,4px 2px #212529,6px 2px #212529,8px 2px #212529,26px 2px #212529,28px 2px #212529,30px 2px #212529,32px 2px #212529,2px 4px #212529,4px 4px #212529,6px 4px #212529,8px 4px #212529,26px 4px #212529,28px 4px #212529,30px 4px #212529,32px 4px #212529,2px 6px #212529,4px 6px #212529,6px 6px #212529,8px 6px #212529,26px 6px #212529,28px 6px #212529,30px 6px #212529,32px 6px #212529,2px 8px #212529,4px 8px #212529,6px 8px #212529,8px 8px #212529,10px 8px #212529,12px 8px #212529,14px 8px #212529,20px 8px #212529,22px 8px #212529,24px 8px #212529,26px 8px #212529,28px 8px #212529,30px 8px #212529,32px 8px #212529,8px 10px #212529,10px 10px #212529,12px 10px #212529,14px 10px #212529,20px 10px #212529,22px 10px #212529,24px 10px #212529,26px 10px #212529,8px 12px #212529,10px 12px #212529,12px 12px #212529,14px 12px #212529,20px 12px #212529,22px 12px #212529,24px 12px #212529,26px 12px #212529,8px 14px #212529,10px 14px #212529,12px 14px #212529,14px 14px #212529,16px 14px #212529,18px 14px #212529,20px 14px #212529,22px 14px #212529,24px 14px #212529,26px 14px #212529,14px 16px #212529,16px 16px #212529,18px 16px #212529,20px 16px #212529,14px 18px #212529,16px 18px #212529,18px 18px #212529,20px 18px #212529,8px 20px #212529,10px 20px #212529,12px 20px #212529,14px 20px #212529,16px 20px #212529,18px 20px #212529,20px 20px #212529,22px 20px #212529,24px 20px #212529,26px 20px #212529,8px 22px #212529,10px 22px #212529,12px 22px #212529,14px 22px #212529,20px 22px #212529,22px 22px #212529,24px 22px #212529,26px 22px #212529,8px 24px #212529,10px 24px #212529,12px 24px #212529,14px 24px #212529,20px 24px #212529,22px 24px #212529,24px 24px #212529,26px 24px #212529,2px 26px #212529,4px 26px #212529,6px 26px #212529,8px 26px #212529,10px 26px #212529,12px 26px #212529,14px 26px #212529,20px 26px #212529,22px 26px #212529,24px 26px #212529,26px 26px #212529,28px 26px #212529,30px 26px #212529,32px 26px #212529,2px 28px #212529,4px 28px #212529,6px 28px #212529,8px 28px #212529,26px 28px #212529,28px 28px #212529,30px 28px #212529,32px 28px #212529,2px 30px #212529,4px 30px #212529,6px 30px #212529,8px 30px #212529,26px 30px #212529,28px 30px #212529,30px 30px #212529,32px 30px #212529,2px 32px #212529,4px 32px #212529,6px 32px #212529,8px 32px #212529,26px 32px #212529,28px 32px #212529,30px 32px #212529,32px 32px #212529;
 }
&.is-medium {
     width: 48px;
     height: 48px;
&::before {
     position: absolute;
     top: -3px;
     left: -3px;
     display: block;
     width: 48px;
     height: 48px;
     content: "";
     background: transparent;
 }
&.heart::before {
     width: 3px;
     height: 3px;
     box-shadow: 9px 6px #444,12px 6px #444,15px 6px #444,33px 6px #444,36px 6px #444,39px 6px #444,6px 9px #444,9px 9px #f22426,12px 9px #f22426,15px 9px #f22426,18px 9px #444,30px 9px #444,33px 9px #f22426,36px 9px #f22426,39px 9px #842300,42px 9px #444,3px 12px #444,6px 12px #f22426,9px 12px #fff,12px 12px #fff,15px 12px #f22426,18px 12px #f22426,21px 12px #444,27px 12px #444,30px 12px #f22426,33px 12px #f22426,36px 12px #f22426,39px 12px #f22426,42px 12px #842300,45px 12px #444,3px 15px #444,6px 15px #f22426,9px 15px #fff,12px 15px #f22426,15px 15px #f22426,18px 15px #f22426,21px 15px #f22426,24px 15px #444,27px 15px #f22426,30px 15px #f22426,33px 15px #f22426,36px 15px #f22426,39px 15px #f22426,42px 15px #842300,45px 15px #444,3px 18px #444,6px 18px #f22426,9px 18px #f22426,12px 18px #f22426,15px 18px #f22426,18px 18px #f22426,21px 18px #f22426,24px 18px #f22426,27px 18px #f22426,30px 18px #f22426,33px 18px #f22426,36px 18px #f22426,39px 18px #f22426,42px 18px #842300,45px 18px #444,3px 21px #444,6px 21px #f22426,9px 21px #f22426,12px 21px #f22426,15px 21px #f22426,18px 21px #f22426,21px 21px #f22426,24px 21px #f22426,27px 21px #f22426,30px 21px #f22426,33px 21px #f22426,36px 21px #f22426,39px 21px #f22426,42px 21px #842300,45px 21px #444,3px 24px #444,6px 24px #f22426,9px 24px #f22426,12px 24px #f22426,15px 24px #f22426,18px 24px #f22426,21px 24px #f22426,24px 24px #f22426,27px 24px #f22426,30px 24px #f22426,33px 24px #f22426,36px 24px #f22426,39px 24px #f22426,42px 24px #842300,45px 24px #444,6px 27px #444,9px 27px #f22426,12px 27px #f22426,15px 27px #f22426,18px 27px #f22426,21px 27px #f22426,24px 27px #f22426,27px 27px #f22426,30px 27px #f22426,33px 27px #f22426,36px 27px #f22426,39px 27px #842300,42px 27px #444,9px 30px #444,12px 30px #f22426,15px 30px #f22426,18px 30px #f22426,21px 30px #f22426,24px 30px #f22426,27px 30px #f22426,30px 30px #f22426,33px 30px #f22426,36px 30px #842300,39px 30px #444,12px 33px #444,15px 33px #f22426,18px 33px #f22426,21px 33px #f22426,24px 33px #f22426,27px 33px #f22426,30px 33px #f22426,33px 33px #842300,36px 33px #444,15px 36px #444,18px 36px #f22426,21px 36px #f22426,24px 36px #f22426,27px 36px #f22426,30px 36px #842300,33px 36px #444,18px 39px #444,21px 39px #f22426,24px 39px #f22426,27px 39px #842300,30px 39px #444,21px 42px #444,24px 42px #842300,27px 42px #444,24px 45px #444;
 }
&.star::before {
     width: 3px;
     height: 3px;
     box-shadow: 24px 3px #444,21px 6px #444,24px 6px #ebe527,27px 6px #444,21px 9px #444,24px 9px #ebe527,27px 9px #444,18px 12px #444,21px 12px #ebe527,24px 12px #ebe527,27px 12px #ebe527,30px 12px #444,18px 15px #444,21px 15px #fff,24px 15px #fff,27px 15px #ebe527,30px 15px #444,3px 18px #444,6px 18px #444,9px 18px #444,12px 18px #444,15px 18px #444,18px 18px #444,21px 18px #fff,24px 18px #ebe527,27px 18px #ebe527,30px 18px #ebe527,33px 18px #444,36px 18px #444,39px 18px #444,42px 18px #444,45px 18px #444,3px 21px #444,6px 21px #ebe527,9px 21px #ebe527,12px 21px #ebe527,15px 21px #fff,18px 21px #fff,21px 21px #ebe527,24px 21px #ebe527,27px 21px #ebe527,30px 21px #ebe527,33px 21px #ebe527,36px 21px #ebe527,39px 21px #ebe527,42px 21px #ebe527,45px 21px #444,6px 24px #444,9px 24px #ebe527,12px 24px #ebe527,15px 24px #fff,18px 24px #ebe527,21px 24px #ebe527,24px 24px #ebe527,27px 24px #ebe527,30px 24px #ebe527,33px 24px #ebe527,36px 24px #ebe527,39px 24px #f59f54,42px 24px #444,9px 27px #444,12px 27px #ebe527,15px 27px #ebe527,18px 27px #ebe527,21px 27px #ebe527,24px 27px #ebe527,27px 27px #ebe527,30px 27px #ebe527,33px 27px #f59f54,36px 27px #f59f54,39px 27px #444,12px 30px #444,15px 30px #ebe527,18px 30px #ebe527,21px 30px #ebe527,24px 30px #ebe527,27px 30px #ebe527,30px 30px #ebe527,33px 30px #ebe527,36px 30px #444,9px 33px #444,12px 33px #ebe527,15px 33px #ebe527,18px 33px #ebe527,21px 33px #ebe527,24px 33px #f59f54,27px 33px #ebe527,30px 33px #ebe527,33px 33px #ebe527,36px 33px #ebe527,39px 33px #444,9px 36px #444,12px 36px #ebe527,15px 36px #ebe527,18px 36px #ebe527,21px 36px #f59f54,24px 36px #f59f54,27px 36px #f59f54,30px 36px #ebe527,33px 36px #ebe527,36px 36px #ebe527,39px 36px #444,6px 39px #444,9px 39px #ebe527,12px 39px #ebe527,15px 39px #f59f54,18px 39px #f59f54,21px 39px #f59f54,24px 39px #444,27px 39px #f59f54,30px 39px #f59f54,33px 39px #f59f54,36px 39px #ebe527,39px 39px #ebe527,42px 39px #444,6px 42px #444,9px 42px #ebe527,12px 42px #f59f54,15px 42px #f59f54,18px 42px #444,21px 42px #444,27px 42px #444,30px 42px #444,33px 42px #f59f54,36px 42px #f59f54,39px 42px #ebe527,42px 42px #444,3px 45px #444,6px 45px #f59f54,9px 45px #f59f54,12px 45px #444,15px 45px #444,33px 45px #444,36px 45px #444,39px 45px #f59f54,42px 45px #f59f54,45px 45px #444,3px 48px #444,6px 48px #444,9px 48px #444,39px 48px #444,42px 48px #444,45px 48px #444;
 }
&.like::before {
     width: 3px;
     height: 3px;
     box-shadow: 24px 6px #333,27px 6px #333,24px 9px #333,27px 9px #fff,30px 9px #333,24px 12px #333,27px 12px #fff,30px 12px #333,21px 15px #333,24px 15px #fff,27px 15px #fff,30px 15px #333,21px 18px #333,24px 18px #fff,27px 18px #fff,30px 18px #333,33px 18px #333,36px 18px #333,39px 18px #333,42px 18px #333,45px 18px #333,18px 21px #333,21px 21px #fff,24px 21px #fff,27px 21px #fff,30px 21px #fff,33px 21px #fff,36px 21px #fff,39px 21px #fff,42px 21px #fff,45px 21px #fff,48px 21px #333,6px 24px #333,9px 24px #333,12px 24px #333,18px 24px #333,21px 24px #fff,24px 24px #fff,27px 24px #fff,30px 24px #fff,33px 24px #fff,36px 24px #fff,39px 24px #fff,42px 24px #fff,45px 24px #fff,48px 24px #333,3px 27px #333,6px 27px #2e77be,9px 27px #2e77be,12px 27px #2e77be,15px 27px #333,18px 27px #fff,21px 27px #fff,24px 27px #fff,27px 27px #fff,30px 27px #fff,33px 27px #fff,36px 27px #fff,39px 27px #fff,42px 27px #fff,45px 27px #fff,48px 27px #333,3px 30px #333,6px 30px #2e77be,9px 30px #2e77be,12px 30px #2e77be,15px 30px #333,18px 30px #fff,21px 30px #fff,24px 30px #fff,27px 30px #fff,30px 30px #fff,33px 30px #fff,36px 30px #fff,39px 30px #fff,42px 30px #fff,45px 30px #333,3px 33px #333,6px 33px #2e77be,9px 33px #2e77be,12px 33px #2e77be,15px 33px #333,18px 33px #fff,21px 33px #fff,24px 33px #fff,27px 33px #fff,30px 33px #fff,33px 33px #fff,36px 33px #fff,39px 33px #fff,42px 33px #fff,45px 33px #333,3px 36px #333,6px 36px #2e77be,9px 36px #2e77be,12px 36px #2e77be,15px 36px #333,18px 36px #fff,21px 36px #fff,24px 36px #fff,27px 36px #fff,30px 36px #fff,33px 36px #fff,36px 36px #fff,39px 36px #fff,42px 36px #fff,45px 36px #333,3px 39px #333,6px 39px #2e77be,9px 39px #2e77be,12px 39px #2e77be,15px 39px #333,18px 39px #fff,21px 39px #fff,24px 39px #fff,27px 39px #fff,30px 39px #fff,33px 39px #fff,36px 39px #fff,39px 39px #fff,42px 39px #333,3px 42px #333,6px 42px #2e77be,9px 42px #2e77be,12px 42px #2e77be,15px 42px #333,18px 42px #fff,21px 42px #fff,24px 42px #fff,27px 42px #fff,30px 42px #fff,33px 42px #fff,36px 42px #fff,39px 42px #fff,42px 42px #333,6px 45px #333,9px 45px #333,12px 45px #333,18px 45px #333,21px 45px #333,24px 45px #333,27px 45px #333,30px 45px #333,33px 45px #333,36px 45px #333,39px 45px #333;
 }
&.twitter::before {
     width: 3px;
     height: 3px;
     box-shadow: 6px 3px #2c9ceb,9px 3px #2c9ceb,12px 3px #2c9ceb,15px 3px #2c9ceb,18px 3px #2c9ceb,21px 3px #2c9ceb,24px 3px #2c9ceb,27px 3px #2c9ceb,30px 3px #2c9ceb,33px 3px #2c9ceb,36px 3px #2c9ceb,39px 3px #2c9ceb,42px 3px #2c9ceb,45px 3px #2c9ceb,3px 6px #2c9ceb,6px 6px #2c9ceb,9px 6px #2c9ceb,12px 6px #2c9ceb,15px 6px #2c9ceb,18px 6px #2c9ceb,21px 6px #2c9ceb,24px 6px #2c9ceb,27px 6px #2c9ceb,30px 6px #2c9ceb,33px 6px #2c9ceb,36px 6px #2c9ceb,39px 6px #2c9ceb,42px 6px #2c9ceb,45px 6px #2c9ceb,48px 6px #2c9ceb,3px 9px #2c9ceb,9px 9px #2c9ceb,12px 9px #2c9ceb,15px 9px #2c9ceb,18px 9px #2c9ceb,21px 9px #2c9ceb,24px 9px #2c9ceb,27px 9px #2c9ceb,30px 9px #fff,33px 9px #fff,36px 9px #fff,39px 9px #2c9ceb,42px 9px #2c9ceb,45px 9px #2c9ceb,48px 9px #2c9ceb,3px 12px #2c9ceb,6px 12px #fff,9px 12px #fff,12px 12px #fff,15px 12px #2c9ceb,18px 12px #2c9ceb,21px 12px #2c9ceb,24px 12px #2c9ceb,27px 12px #fff,30px 12px #fff,33px 12px #fff,36px 12px #fff,39px 12px #fff,42px 12px #2c9ceb,45px 12px #2c9ceb,48px 12px #2c9ceb,3px 15px #2c9ceb,6px 15px #fff,9px 15px #fff,12px 15px #fff,15px 15px #fff,18px 15px #fff,21px 15px #2c9ceb,24px 15px #fff,27px 15px #fff,30px 15px #fff,33px 15px #fff,36px 15px #fff,39px 15px #fff,42px 15px #fff,45px 15px #fff,48px 15px #2c9ceb,3px 18px #2c9ceb,6px 18px #2c9ceb,9px 18px #fff,12px 18px #fff,15px 18px #fff,18px 18px #fff,21px 18px #fff,24px 18px #fff,27px 18px #fff,30px 18px #fff,33px 18px #fff,36px 18px #fff,39px 18px #fff,42px 18px #fff,45px 18px #2c9ceb,48px 18px #2c9ceb,3px 21px #2c9ceb,6px 21px #2c9ceb,9px 21px #fff,12px 21px #fff,15px 21px #fff,18px 21px #fff,21px 21px #fff,24px 21px #fff,27px 21px #fff,30px 21px #fff,33px 21px #fff,36px 21px #fff,39px 21px #fff,42px 21px #fff,45px 21px #2c9ceb,48px 21px #2c9ceb,3px 24px #2c9ceb,6px 24px #2c9ceb,9px 24px #2c9ceb,12px 24px #fff,15px 24px #fff,18px 24px #fff,21px 24px #fff,24px 24px #fff,27px 24px #fff,30px 24px #fff,33px 24px #fff,36px 24px #fff,39px 24px #fff,42px 24px #2c9ceb,45px 24px #2c9ceb,48px 24px #2c9ceb,3px 27px #2c9ceb,6px 27px #2c9ceb,9px 27px #2c9ceb,12px 27px #fff,15px 27px #fff,18px 27px #fff,21px 27px #fff,24px 27px #fff,27px 27px #fff,30px 27px #fff,33px 27px #fff,36px 27px #fff,39px 27px #2c9ceb,42px 27px #2c9ceb,45px 27px #2c9ceb,48px 27px #2c9ceb,3px 30px #2c9ceb,6px 30px #2c9ceb,9px 30px #2c9ceb,12px 30px #2c9ceb,15px 30px #fff,18px 30px #fff,21px 30px #fff,24px 30px #fff,27px 30px #fff,30px 30px #fff,33px 30px #fff,36px 30px #fff,39px 30px #2c9ceb,42px 30px #2c9ceb,45px 30px #2c9ceb,48px 30px #2c9ceb,3px 33px #2c9ceb,6px 33px #2c9ceb,9px 33px #2c9ceb,12px 33px #2c9ceb,15px 33px #2c9ceb,18px 33px #fff,21px 33px #fff,24px 33px #fff,27px 33px #fff,30px 33px #fff,33px 33px #fff,36px 33px #fff,39px 33px #2c9ceb,42px 33px #2c9ceb,45px 33px #2c9ceb,48px 33px #2c9ceb,3px 36px #2c9ceb,6px 36px #2c9ceb,9px 36px #2c9ceb,12px 36px #2c9ceb,15px 36px #fff,18px 36px #fff,21px 36px #fff,24px 36px #fff,27px 36px #fff,30px 36px #fff,33px 36px #fff,36px 36px #2c9ceb,39px 36px #2c9ceb,42px 36px #2c9ceb,45px 36px #2c9ceb,48px 36px #2c9ceb,3px 39px #2c9ceb,6px 39px #2c9ceb,9px 39px #fff,12px 39px #fff,15px 39px #fff,18px 39px #fff,21px 39px #fff,24px 39px #fff,27px 39px #fff,30px 39px #2c9ceb,33px 39px #2c9ceb,36px 39px #2c9ceb,39px 39px #2c9ceb,42px 39px #2c9ceb,45px 39px #2c9ceb,48px 39px #2c9ceb,3px 42px #2c9ceb,6px 42px #2c9ceb,9px 42px #2c9ceb,12px 42px #fff,15px 42px #fff,18px 42px #fff,21px 42px #2c9ceb,24px 42px #2c9ceb,27px 42px #2c9ceb,30px 42px #2c9ceb,33px 42px #2c9ceb,36px 42px #2c9ceb,39px 42px #2c9ceb,42px 42px #2c9ceb,45px 42px #2c9ceb,48px 42px #2c9ceb,3px 45px #2c9ceb,6px 45px #2c9ceb,9px 45px #2c9ceb,12px 45px #2c9ceb,15px 45px #2c9ceb,18px 45px #2c9ceb,21px 45px #2c9ceb,24px 45px #2c9ceb,27px 45px #2c9ceb,30px 45px #2c9ceb,33px 45px #2c9ceb,36px 45px #2c9ceb,39px 45px #2c9ceb,42px 45px #2c9ceb,45px 45px #2c9ceb,48px 45px #2c9ceb,6px 48px #2c9ceb,9px 48px #2c9ceb,12px 48px #2c9ceb,15px 48px #2c9ceb,18px 48px #2c9ceb,21px 48px #2c9ceb,24px 48px #2c9ceb,27px 48px #2c9ceb,30px 48px #2c9ceb,33px 48px #2c9ceb,36px 48px #2c9ceb,39px 48px #2c9ceb,42px 48px #2c9ceb,45px 48px #2c9ceb;
 }
&.facebook::before {
     width: 3px;
     height: 3px;
     box-shadow: 6px 3px #4566ae,9px 3px #4566ae,12px 3px #4566ae,15px 3px #4566ae,18px 3px #4566ae,21px 3px #4566ae,24px 3px #4566ae,27px 3px #4566ae,30px 3px #4566ae,33px 3px #4566ae,36px 3px #4566ae,39px 3px #4566ae,42px 3px #4566ae,45px 3px #4566ae,3px 6px #4566ae,6px 6px #4566ae,9px 6px #4566ae,12px 6px #4566ae,15px 6px #4566ae,18px 6px #4566ae,21px 6px #4566ae,24px 6px #4566ae,27px 6px #4566ae,30px 6px #4566ae,33px 6px #fff,36px 6px #fff,39px 6px #fff,42px 6px #fff,45px 6px #4566ae,48px 6px #4566ae,3px 9px #4566ae,6px 9px #4566ae,9px 9px #4566ae,12px 9px #4566ae,15px 9px #4566ae,18px 9px #4566ae,21px 9px #4566ae,24px 9px #4566ae,27px 9px #4566ae,30px 9px #fff,33px 9px #fff,36px 9px #fff,39px 9px #fff,42px 9px #fff,45px 9px #4566ae,48px 9px #4566ae,3px 12px #4566ae,6px 12px #4566ae,9px 12px #4566ae,12px 12px #4566ae,15px 12px #4566ae,18px 12px #4566ae,21px 12px #4566ae,24px 12px #4566ae,27px 12px #fff,30px 12px #fff,33px 12px #fff,36px 12px #fff,39px 12px #fff,42px 12px #fff,45px 12px #4566ae,48px 12px #4566ae,3px 15px #4566ae,6px 15px #4566ae,9px 15px #4566ae,12px 15px #4566ae,15px 15px #4566ae,18px 15px #4566ae,21px 15px #4566ae,24px 15px #4566ae,27px 15px #fff,30px 15px #fff,33px 15px #fff,36px 15px #4566ae,39px 15px #4566ae,42px 15px #4566ae,45px 15px #4566ae,48px 15px #4566ae,3px 18px #4566ae,6px 18px #4566ae,9px 18px #4566ae,12px 18px #4566ae,15px 18px #4566ae,18px 18px #4566ae,21px 18px #4566ae,24px 18px #4566ae,27px 18px #fff,30px 18px #fff,33px 18px #fff,36px 18px #4566ae,39px 18px #4566ae,42px 18px #4566ae,45px 18px #4566ae,48px 18px #4566ae,3px 21px #4566ae,6px 21px #4566ae,9px 21px #4566ae,12px 21px #4566ae,15px 21px #4566ae,18px 21px #4566ae,21px 21px #4566ae,24px 21px #4566ae,27px 21px #fff,30px 21px #fff,33px 21px #fff,36px 21px #4566ae,39px 21px #4566ae,42px 21px #4566ae,45px 21px #4566ae,48px 21px #4566ae,3px 24px #4566ae,6px 24px #4566ae,9px 24px #4566ae,12px 24px #4566ae,15px 24px #4566ae,18px 24px #fff,21px 24px #fff,24px 24px #fff,27px 24px #fff,30px 24px #fff,33px 24px #fff,36px 24px #fff,39px 24px #fff,42px 24px #fff,45px 24px #4566ae,48px 24px #4566ae,3px 27px #4566ae,6px 27px #4566ae,9px 27px #4566ae,12px 27px #4566ae,15px 27px #4566ae,18px 27px #fff,21px 27px #fff,24px 27px #fff,27px 27px #fff,30px 27px #fff,33px 27px #fff,36px 27px #fff,39px 27px #fff,42px 27px #fff,45px 27px #4566ae,48px 27px #4566ae,3px 30px #4566ae,6px 30px #4566ae,9px 30px #4566ae,12px 30px #4566ae,15px 30px #4566ae,18px 30px #fff,21px 30px #fff,24px 30px #fff,27px 30px #fff,30px 30px #fff,33px 30px #fff,36px 30px #fff,39px 30px #fff,42px 30px #fff,45px 30px #4566ae,48px 30px #4566ae,3px 33px #4566ae,6px 33px #4566ae,9px 33px #4566ae,12px 33px #4566ae,15px 33px #4566ae,18px 33px #4566ae,21px 33px #4566ae,24px 33px #4566ae,27px 33px #fff,30px 33px #fff,33px 33px #fff,36px 33px #4566ae,39px 33px #4566ae,42px 33px #4566ae,45px 33px #4566ae,48px 33px #4566ae,3px 36px #4566ae,6px 36px #4566ae,9px 36px #4566ae,12px 36px #4566ae,15px 36px #4566ae,18px 36px #4566ae,21px 36px #4566ae,24px 36px #4566ae,27px 36px #fff,30px 36px #fff,33px 36px #fff,36px 36px #4566ae,39px 36px #4566ae,42px 36px #4566ae,45px 36px #4566ae,48px 36px #4566ae,3px 39px #4566ae,6px 39px #4566ae,9px 39px #4566ae,12px 39px #4566ae,15px 39px #4566ae,18px 39px #4566ae,21px 39px #4566ae,24px 39px #4566ae,27px 39px #fff,30px 39px #fff,33px 39px #fff,36px 39px #4566ae,39px 39px #4566ae,42px 39px #4566ae,45px 39px #4566ae,48px 39px #4566ae,3px 42px #4566ae,6px 42px #4566ae,9px 42px #4566ae,12px 42px #4566ae,15px 42px #4566ae,18px 42px #4566ae,21px 42px #4566ae,24px 42px #4566ae,27px 42px #fff,30px 42px #fff,33px 42px #fff,36px 42px #4566ae,39px 42px #4566ae,42px 42px #4566ae,45px 42px #4566ae,48px 42px #4566ae,3px 45px #4566ae,6px 45px #4566ae,9px 45px #4566ae,12px 45px #4566ae,15px 45px #4566ae,18px 45px #4566ae,21px 45px #4566ae,24px 45px #4566ae,27px 45px #fff,30px 45px #fff,33px 45px #fff,36px 45px #4566ae,39px 45px #4566ae,42px 45px #4566ae,45px 45px #4566ae,48px 45px #4566ae,6px 48px #4566ae,9px 48px #4566ae,12px 48px #4566ae,15px 48px #4566ae,18px 48px #4566ae,21px 48px #4566ae,24px 48px #4566ae,27px 48px #fff,30px 48px #fff,33px 48px #fff,36px 48px #4566ae,39px 48px #4566ae,42px 48px #4566ae,45px 48px #4566ae;
 }
&.github::before {
     width: 3px;
     height: 3px;
     box-shadow: 6px 3px #333,9px 3px #333,12px 3px #333,15px 3px #333,18px 3px #333,21px 3px #333,24px 3px #333,27px 3px #333,30px 3px #333,33px 3px #333,36px 3px #333,39px 3px #333,42px 3px #333,45px 3px #333,3px 6px #333,6px 6px #333,9px 6px #333,12px 6px #333,15px 6px #fff,18px 6px #333,21px 6px #333,24px 6px #333,27px 6px #333,30px 6px #333,33px 6px #333,36px 6px #333,39px 6px #333,42px 6px #fff,45px 6px #333,48px 6px #333,3px 9px #333,6px 9px #333,9px 9px #333,12px 9px #333,15px 9px #fff,18px 9px #fff,21px 9px #333,24px 9px #333,27px 9px #333,30px 9px #333,33px 9px #333,36px 9px #333,39px 9px #fff,42px 9px #fff,45px 9px #333,48px 9px #333,3px 12px #333,6px 12px #333,9px 12px #333,12px 12px #333,15px 12px #fff,18px 12px #fff,21px 12px #fff,24px 12px #fff,27px 12px #fff,30px 12px #fff,33px 12px #fff,36px 12px #fff,39px 12px #fff,42px 12px #fff,45px 12px #333,48px 12px #333,3px 15px #333,6px 15px #333,9px 15px #333,12px 15px #fff,15px 15px #fff,18px 15px #fff,21px 15px #fff,24px 15px #fff,27px 15px #fff,30px 15px #fff,33px 15px #fff,36px 15px #fff,39px 15px #fff,42px 15px #fff,45px 15px #fff,48px 15px #333,3px 18px #333,6px 18px #333,9px 18px #333,12px 18px #fff,15px 18px #fff,18px 18px #fff,21px 18px #fff,24px 18px #fff,27px 18px #fff,30px 18px #fff,33px 18px #fff,36px 18px #fff,39px 18px #fff,42px 18px #fff,45px 18px #fff,48px 18px #333,3px 21px #333,6px 21px #333,9px 21px #333,12px 21px #fff,15px 21px #fff,18px 21px #fff,21px 21px #fff,24px 21px #fff,27px 21px #fff,30px 21px #fff,33px 21px #fff,36px 21px #fff,39px 21px #fff,42px 21px #fff,45px 21px #fff,48px 21px #333,3px 24px #333,6px 24px #333,9px 24px #333,12px 24px #fff,15px 24px #fff,18px 24px #fff,21px 24px #fff,24px 24px #fff,27px 24px #fff,30px 24px #fff,33px 24px #fff,36px 24px #fff,39px 24px #fff,42px 24px #fff,45px 24px #fff,48px 24px #333,3px 27px #333,6px 27px #333,9px 27px #333,12px 27px #333,15px 27px #fff,18px 27px #fff,21px 27px #fff,24px 27px #fff,27px 27px #fff,30px 27px #fff,33px 27px #fff,36px 27px #fff,39px 27px #fff,42px 27px #fff,45px 27px #333,48px 27px #333,3px 30px #333,6px 30px #333,9px 30px #333,12px 30px #333,15px 30px #333,18px 30px #fff,21px 30px #fff,24px 30px #fff,27px 30px #fff,30px 30px #fff,33px 30px #fff,36px 30px #fff,39px 30px #fff,42px 30px #333,45px 30px #333,48px 30px #333,3px 33px #333,6px 33px #fff,9px 33px #fff,12px 33px #333,15px 33px #333,18px 33px #333,21px 33px #333,24px 33px #fff,27px 33px #fff,30px 33px #fff,33px 33px #fff,36px 33px #333,39px 33px #333,42px 33px #333,45px 33px #333,48px 33px #333,3px 36px #333,6px 36px #333,9px 36px #333,12px 36px #fff,15px 36px #333,18px 36px #333,21px 36px #fff,24px 36px #fff,27px 36px #fff,30px 36px #fff,33px 36px #fff,36px 36px #fff,39px 36px #333,42px 36px #333,45px 36px #333,48px 36px #333,3px 39px #333,6px 39px #333,9px 39px #333,12px 39px #333,15px 39px #fff,18px 39px #fff,21px 39px #fff,24px 39px #fff,27px 39px #fff,30px 39px #fff,33px 39px #fff,36px 39px #fff,39px 39px #333,42px 39px #333,45px 39px #333,48px 39px #333,3px 42px #333,6px 42px #333,9px 42px #333,12px 42px #333,15px 42px #333,18px 42px #333,21px 42px #fff,24px 42px #fff,27px 42px #fff,30px 42px #fff,33px 42px #fff,36px 42px #fff,39px 42px #333,42px 42px #333,45px 42px #333,48px 42px #333,3px 45px #333,6px 45px #333,9px 45px #333,12px 45px #333,15px 45px #333,18px 45px #333,21px 45px #fff,24px 45px #fff,27px 45px #fff,30px 45px #fff,33px 45px #fff,36px 45px #fff,39px 45px #333,42px 45px #333,45px 45px #333,48px 45px #333,6px 48px #333,9px 48px #333,12px 48px #333,15px 48px #333,18px 48px #333,21px 48px #333,24px 48px #333,27px 48px #333,30px 48px #333,33px 48px #333,36px 48px #333,39px 48px #333,42px 48px #333,45px 48px #333;
 }
&.close::before {
     width: 3px;
     height: 3px;
     box-shadow: 3px 3px #212529,6px 3px #212529,9px 3px #212529,12px 3px #212529,39px 3px #212529,42px 3px #212529,45px 3px #212529,48px 3px #212529,3px 6px #212529,6px 6px #212529,9px 6px #212529,12px 6px #212529,39px 6px #212529,42px 6px #212529,45px 6px #212529,48px 6px #212529,3px 9px #212529,6px 9px #212529,9px 9px #212529,12px 9px #212529,39px 9px #212529,42px 9px #212529,45px 9px #212529,48px 9px #212529,3px 12px #212529,6px 12px #212529,9px 12px #212529,12px 12px #212529,15px 12px #212529,18px 12px #212529,21px 12px #212529,30px 12px #212529,33px 12px #212529,36px 12px #212529,39px 12px #212529,42px 12px #212529,45px 12px #212529,48px 12px #212529,12px 15px #212529,15px 15px #212529,18px 15px #212529,21px 15px #212529,30px 15px #212529,33px 15px #212529,36px 15px #212529,39px 15px #212529,12px 18px #212529,15px 18px #212529,18px 18px #212529,21px 18px #212529,30px 18px #212529,33px 18px #212529,36px 18px #212529,39px 18px #212529,12px 21px #212529,15px 21px #212529,18px 21px #212529,21px 21px #212529,24px 21px #212529,27px 21px #212529,30px 21px #212529,33px 21px #212529,36px 21px #212529,39px 21px #212529,21px 24px #212529,24px 24px #212529,27px 24px #212529,30px 24px #212529,21px 27px #212529,24px 27px #212529,27px 27px #212529,30px 27px #212529,12px 30px #212529,15px 30px #212529,18px 30px #212529,21px 30px #212529,24px 30px #212529,27px 30px #212529,30px 30px #212529,33px 30px #212529,36px 30px #212529,39px 30px #212529,12px 33px #212529,15px 33px #212529,18px 33px #212529,21px 33px #212529,30px 33px #212529,33px 33px #212529,36px 33px #212529,39px 33px #212529,12px 36px #212529,15px 36px #212529,18px 36px #212529,21px 36px #212529,30px 36px #212529,33px 36px #212529,36px 36px #212529,39px 36px #212529,3px 39px #212529,6px 39px #212529,9px 39px #212529,12px 39px #212529,15px 39px #212529,18px 39px #212529,21px 39px #212529,30px 39px #212529,33px 39px #212529,36px 39px #212529,39px 39px #212529,42px 39px #212529,45px 39px #212529,48px 39px #212529,3px 42px #212529,6px 42px #212529,9px 42px #212529,12px 42px #212529,39px 42px #212529,42px 42px #212529,45px 42px #212529,48px 42px #212529,3px 45px #212529,6px 45px #212529,9px 45px #212529,12px 45px #212529,39px 45px #212529,42px 45px #212529,45px 45px #212529,48px 45px #212529,3px 48px #212529,6px 48px #212529,9px 48px #212529,12px 48px #212529,39px 48px #212529,42px 48px #212529,45px 48px #212529,48px 48px #212529;
 }
}
&.is-large {
     width: 64px;
     height: 64px;
&::before {
     position: absolute;
     top: -4px;
     left: -4px;
     display: block;
     width: 64px;
     height: 64px;
     content: "";
     background: transparent;
 }
&.heart::before {
     width: 4px;
     height: 4px;
     box-shadow: 12px 8px #444,16px 8px #444,20px 8px #444,44px 8px #444,48px 8px #444,52px 8px #444,8px 12px #444,12px 12px #f22426,16px 12px #f22426,20px 12px #f22426,24px 12px #444,40px 12px #444,44px 12px #f22426,48px 12px #f22426,52px 12px #842300,56px 12px #444,4px 16px #444,8px 16px #f22426,12px 16px #fff,16px 16px #fff,20px 16px #f22426,24px 16px #f22426,28px 16px #444,36px 16px #444,40px 16px #f22426,44px 16px #f22426,48px 16px #f22426,52px 16px #f22426,56px 16px #842300,60px 16px #444,4px 20px #444,8px 20px #f22426,12px 20px #fff,16px 20px #f22426,20px 20px #f22426,24px 20px #f22426,28px 20px #f22426,32px 20px #444,36px 20px #f22426,40px 20px #f22426,44px 20px #f22426,48px 20px #f22426,52px 20px #f22426,56px 20px #842300,60px 20px #444,4px 24px #444,8px 24px #f22426,12px 24px #f22426,16px 24px #f22426,20px 24px #f22426,24px 24px #f22426,28px 24px #f22426,32px 24px #f22426,36px 24px #f22426,40px 24px #f22426,44px 24px #f22426,48px 24px #f22426,52px 24px #f22426,56px 24px #842300,60px 24px #444,4px 28px #444,8px 28px #f22426,12px 28px #f22426,16px 28px #f22426,20px 28px #f22426,24px 28px #f22426,28px 28px #f22426,32px 28px #f22426,36px 28px #f22426,40px 28px #f22426,44px 28px #f22426,48px 28px #f22426,52px 28px #f22426,56px 28px #842300,60px 28px #444,4px 32px #444,8px 32px #f22426,12px 32px #f22426,16px 32px #f22426,20px 32px #f22426,24px 32px #f22426,28px 32px #f22426,32px 32px #f22426,36px 32px #f22426,40px 32px #f22426,44px 32px #f22426,48px 32px #f22426,52px 32px #f22426,56px 32px #842300,60px 32px #444,8px 36px #444,12px 36px #f22426,16px 36px #f22426,20px 36px #f22426,24px 36px #f22426,28px 36px #f22426,32px 36px #f22426,36px 36px #f22426,40px 36px #f22426,44px 36px #f22426,48px 36px #f22426,52px 36px #842300,56px 36px #444,12px 40px #444,16px 40px #f22426,20px 40px #f22426,24px 40px #f22426,28px 40px #f22426,32px 40px #f22426,36px 40px #f22426,40px 40px #f22426,44px 40px #f22426,48px 40px #842300,52px 40px #444,16px 44px #444,20px 44px #f22426,24px 44px #f22426,28px 44px #f22426,32px 44px #f22426,36px 44px #f22426,40px 44px #f22426,44px 44px #842300,48px 44px #444,20px 48px #444,24px 48px #f22426,28px 48px #f22426,32px 48px #f22426,36px 48px #f22426,40px 48px #842300,44px 48px #444,24px 52px #444,28px 52px #f22426,32px 52px #f22426,36px 52px #842300,40px 52px #444,28px 56px #444,32px 56px #842300,36px 56px #444,32px 60px #444;
 }
&.star::before {
     width: 4px;
     height: 4px;
     box-shadow: 32px 4px #444,28px 8px #444,32px 8px #ebe527,36px 8px #444,28px 12px #444,32px 12px #ebe527,36px 12px #444,24px 16px #444,28px 16px #ebe527,32px 16px #ebe527,36px 16px #ebe527,40px 16px #444,24px 20px #444,28px 20px #fff,32px 20px #fff,36px 20px #ebe527,40px 20px #444,4px 24px #444,8px 24px #444,12px 24px #444,16px 24px #444,20px 24px #444,24px 24px #444,28px 24px #fff,32px 24px #ebe527,36px 24px #ebe527,40px 24px #ebe527,44px 24px #444,48px 24px #444,52px 24px #444,56px 24px #444,60px 24px #444,4px 28px #444,8px 28px #ebe527,12px 28px #ebe527,16px 28px #ebe527,20px 28px #fff,24px 28px #fff,28px 28px #ebe527,32px 28px #ebe527,36px 28px #ebe527,40px 28px #ebe527,44px 28px #ebe527,48px 28px #ebe527,52px 28px #ebe527,56px 28px #ebe527,60px 28px #444,8px 32px #444,12px 32px #ebe527,16px 32px #ebe527,20px 32px #fff,24px 32px #ebe527,28px 32px #ebe527,32px 32px #ebe527,36px 32px #ebe527,40px 32px #ebe527,44px 32px #ebe527,48px 32px #ebe527,52px 32px #f59f54,56px 32px #444,12px 36px #444,16px 36px #ebe527,20px 36px #ebe527,24px 36px #ebe527,28px 36px #ebe527,32px 36px #ebe527,36px 36px #ebe527,40px 36px #ebe527,44px 36px #f59f54,48px 36px #f59f54,52px 36px #444,16px 40px #444,20px 40px #ebe527,24px 40px #ebe527,28px 40px #ebe527,32px 40px #ebe527,36px 40px #ebe527,40px 40px #ebe527,44px 40px #ebe527,48px 40px #444,12px 44px #444,16px 44px #ebe527,20px 44px #ebe527,24px 44px #ebe527,28px 44px #ebe527,32px 44px #f59f54,36px 44px #ebe527,40px 44px #ebe527,44px 44px #ebe527,48px 44px #ebe527,52px 44px #444,12px 48px #444,16px 48px #ebe527,20px 48px #ebe527,24px 48px #ebe527,28px 48px #f59f54,32px 48px #f59f54,36px 48px #f59f54,40px 48px #ebe527,44px 48px #ebe527,48px 48px #ebe527,52px 48px #444,8px 52px #444,12px 52px #ebe527,16px 52px #ebe527,20px 52px #f59f54,24px 52px #f59f54,28px 52px #f59f54,32px 52px #444,36px 52px #f59f54,40px 52px #f59f54,44px 52px #f59f54,48px 52px #ebe527,52px 52px #ebe527,56px 52px #444,8px 56px #444,12px 56px #ebe527,16px 56px #f59f54,20px 56px #f59f54,24px 56px #444,28px 56px #444,36px 56px #444,40px 56px #444,44px 56px #f59f54,48px 56px #f59f54,52px 56px #ebe527,56px 56px #444,4px 60px #444,8px 60px #f59f54,12px 60px #f59f54,16px 60px #444,20px 60px #444,44px 60px #444,48px 60px #444,52px 60px #f59f54,56px 60px #f59f54,60px 60px #444,4px 64px #444,8px 64px #444,12px 64px #444,52px 64px #444,56px 64px #444,60px 64px #444;
 }
&.like::before {
     width: 4px;
     height: 4px;
     box-shadow: 32px 8px #333,36px 8px #333,32px 12px #333,36px 12px #fff,40px 12px #333,32px 16px #333,36px 16px #fff,40px 16px #333,28px 20px #333,32px 20px #fff,36px 20px #fff,40px 20px #333,28px 24px #333,32px 24px #fff,36px 24px #fff,40px 24px #333,44px 24px #333,48px 24px #333,52px 24px #333,56px 24px #333,60px 24px #333,24px 28px #333,28px 28px #fff,32px 28px #fff,36px 28px #fff,40px 28px #fff,44px 28px #fff,48px 28px #fff,52px 28px #fff,56px 28px #fff,60px 28px #fff,64px 28px #333,8px 32px #333,12px 32px #333,16px 32px #333,24px 32px #333,28px 32px #fff,32px 32px #fff,36px 32px #fff,40px 32px #fff,44px 32px #fff,48px 32px #fff,52px 32px #fff,56px 32px #fff,60px 32px #fff,64px 32px #333,4px 36px #333,8px 36px #2e77be,12px 36px #2e77be,16px 36px #2e77be,20px 36px #333,24px 36px #fff,28px 36px #fff,32px 36px #fff,36px 36px #fff,40px 36px #fff,44px 36px #fff,48px 36px #fff,52px 36px #fff,56px 36px #fff,60px 36px #fff,64px 36px #333,4px 40px #333,8px 40px #2e77be,12px 40px #2e77be,16px 40px #2e77be,20px 40px #333,24px 40px #fff,28px 40px #fff,32px 40px #fff,36px 40px #fff,40px 40px #fff,44px 40px #fff,48px 40px #fff,52px 40px #fff,56px 40px #fff,60px 40px #333,4px 44px #333,8px 44px #2e77be,12px 44px #2e77be,16px 44px #2e77be,20px 44px #333,24px 44px #fff,28px 44px #fff,32px 44px #fff,36px 44px #fff,40px 44px #fff,44px 44px #fff,48px 44px #fff,52px 44px #fff,56px 44px #fff,60px 44px #333,4px 48px #333,8px 48px #2e77be,12px 48px #2e77be,16px 48px #2e77be,20px 48px #333,24px 48px #fff,28px 48px #fff,32px 48px #fff,36px 48px #fff,40px 48px #fff,44px 48px #fff,48px 48px #fff,52px 48px #fff,56px 48px #fff,60px 48px #333,4px 52px #333,8px 52px #2e77be,12px 52px #2e77be,16px 52px #2e77be,20px 52px #333,24px 52px #fff,28px 52px #fff,32px 52px #fff,36px 52px #fff,40px 52px #fff,44px 52px #fff,48px 52px #fff,52px 52px #fff,56px 52px #333,4px 56px #333,8px 56px #2e77be,12px 56px #2e77be,16px 56px #2e77be,20px 56px #333,24px 56px #fff,28px 56px #fff,32px 56px #fff,36px 56px #fff,40px 56px #fff,44px 56px #fff,48px 56px #fff,52px 56px #fff,56px 56px #333,8px 60px #333,12px 60px #333,16px 60px #333,24px 60px #333,28px 60px #333,32px 60px #333,36px 60px #333,40px 60px #333,44px 60px #333,48px 60px #333,52px 60px #333;
 }
&.twitter::before {
     width: 4px;
     height: 4px;
     box-shadow: 8px 4px #2c9ceb,12px 4px #2c9ceb,16px 4px #2c9ceb,20px 4px #2c9ceb,24px 4px #2c9ceb,28px 4px #2c9ceb,32px 4px #2c9ceb,36px 4px #2c9ceb,40px 4px #2c9ceb,44px 4px #2c9ceb,48px 4px #2c9ceb,52px 4px #2c9ceb,56px 4px #2c9ceb,60px 4px #2c9ceb,4px 8px #2c9ceb,8px 8px #2c9ceb,12px 8px #2c9ceb,16px 8px #2c9ceb,20px 8px #2c9ceb,24px 8px #2c9ceb,28px 8px #2c9ceb,32px 8px #2c9ceb,36px 8px #2c9ceb,40px 8px #2c9ceb,44px 8px #2c9ceb,48px 8px #2c9ceb,52px 8px #2c9ceb,56px 8px #2c9ceb,60px 8px #2c9ceb,64px 8px #2c9ceb,4px 12px #2c9ceb,12px 12px #2c9ceb,16px 12px #2c9ceb,20px 12px #2c9ceb,24px 12px #2c9ceb,28px 12px #2c9ceb,32px 12px #2c9ceb,36px 12px #2c9ceb,40px 12px #fff,44px 12px #fff,48px 12px #fff,52px 12px #2c9ceb,56px 12px #2c9ceb,60px 12px #2c9ceb,64px 12px #2c9ceb,4px 16px #2c9ceb,8px 16px #fff,12px 16px #fff,16px 16px #fff,20px 16px #2c9ceb,24px 16px #2c9ceb,28px 16px #2c9ceb,32px 16px #2c9ceb,36px 16px #fff,40px 16px #fff,44px 16px #fff,48px 16px #fff,52px 16px #fff,56px 16px #2c9ceb,60px 16px #2c9ceb,64px 16px #2c9ceb,4px 20px #2c9ceb,8px 20px #fff,12px 20px #fff,16px 20px #fff,20px 20px #fff,24px 20px #fff,28px 20px #2c9ceb,32px 20px #fff,36px 20px #fff,40px 20px #fff,44px 20px #fff,48px 20px #fff,52px 20px #fff,56px 20px #fff,60px 20px #fff,64px 20px #2c9ceb,4px 24px #2c9ceb,8px 24px #2c9ceb,12px 24px #fff,16px 24px #fff,20px 24px #fff,24px 24px #fff,28px 24px #fff,32px 24px #fff,36px 24px #fff,40px 24px #fff,44px 24px #fff,48px 24px #fff,52px 24px #fff,56px 24px #fff,60px 24px #2c9ceb,64px 24px #2c9ceb,4px 28px #2c9ceb,8px 28px #2c9ceb,12px 28px #fff,16px 28px #fff,20px 28px #fff,24px 28px #fff,28px 28px #fff,32px 28px #fff,36px 28px #fff,40px 28px #fff,44px 28px #fff,48px 28px #fff,52px 28px #fff,56px 28px #fff,60px 28px #2c9ceb,64px 28px #2c9ceb,4px 32px #2c9ceb,8px 32px #2c9ceb,12px 32px #2c9ceb,16px 32px #fff,20px 32px #fff,24px 32px #fff,28px 32px #fff,32px 32px #fff,36px 32px #fff,40px 32px #fff,44px 32px #fff,48px 32px #fff,52px 32px #fff,56px 32px #2c9ceb,60px 32px #2c9ceb,64px 32px #2c9ceb,4px 36px #2c9ceb,8px 36px #2c9ceb,12px 36px #2c9ceb,16px 36px #fff,20px 36px #fff,24px 36px #fff,28px 36px #fff,32px 36px #fff,36px 36px #fff,40px 36px #fff,44px 36px #fff,48px 36px #fff,52px 36px #2c9ceb,56px 36px #2c9ceb,60px 36px #2c9ceb,64px 36px #2c9ceb,4px 40px #2c9ceb,8px 40px #2c9ceb,12px 40px #2c9ceb,16px 40px #2c9ceb,20px 40px #fff,24px 40px #fff,28px 40px #fff,32px 40px #fff,36px 40px #fff,40px 40px #fff,44px 40px #fff,48px 40px #fff,52px 40px #2c9ceb,56px 40px #2c9ceb,60px 40px #2c9ceb,64px 40px #2c9ceb,4px 44px #2c9ceb,8px 44px #2c9ceb,12px 44px #2c9ceb,16px 44px #2c9ceb,20px 44px #2c9ceb,24px 44px #fff,28px 44px #fff,32px 44px #fff,36px 44px #fff,40px 44px #fff,44px 44px #fff,48px 44px #fff,52px 44px #2c9ceb,56px 44px #2c9ceb,60px 44px #2c9ceb,64px 44px #2c9ceb,4px 48px #2c9ceb,8px 48px #2c9ceb,12px 48px #2c9ceb,16px 48px #2c9ceb,20px 48px #fff,24px 48px #fff,28px 48px #fff,32px 48px #fff,36px 48px #fff,40px 48px #fff,44px 48px #fff,48px 48px #2c9ceb,52px 48px #2c9ceb,56px 48px #2c9ceb,60px 48px #2c9ceb,64px 48px #2c9ceb,4px 52px #2c9ceb,8px 52px #2c9ceb,12px 52px #fff,16px 52px #fff,20px 52px #fff,24px 52px #fff,28px 52px #fff,32px 52px #fff,36px 52px #fff,40px 52px #2c9ceb,44px 52px #2c9ceb,48px 52px #2c9ceb,52px 52px #2c9ceb,56px 52px #2c9ceb,60px 52px #2c9ceb,64px 52px #2c9ceb,4px 56px #2c9ceb,8px 56px #2c9ceb,12px 56px #2c9ceb,16px 56px #fff,20px 56px #fff,24px 56px #fff,28px 56px #2c9ceb,32px 56px #2c9ceb,36px 56px #2c9ceb,40px 56px #2c9ceb,44px 56px #2c9ceb,48px 56px #2c9ceb,52px 56px #2c9ceb,56px 56px #2c9ceb,60px 56px #2c9ceb,64px 56px #2c9ceb,4px 60px #2c9ceb,8px 60px #2c9ceb,12px 60px #2c9ceb,16px 60px #2c9ceb,20px 60px #2c9ceb,24px 60px #2c9ceb,28px 60px #2c9ceb,32px 60px #2c9ceb,36px 60px #2c9ceb,40px 60px #2c9ceb,44px 60px #2c9ceb,48px 60px #2c9ceb,52px 60px #2c9ceb,56px 60px #2c9ceb,60px 60px #2c9ceb,64px 60px #2c9ceb,8px 64px #2c9ceb,12px 64px #2c9ceb,16px 64px #2c9ceb,20px 64px #2c9ceb,24px 64px #2c9ceb,28px 64px #2c9ceb,32px 64px #2c9ceb,36px 64px #2c9ceb,40px 64px #2c9ceb,44px 64px #2c9ceb,48px 64px #2c9ceb,52px 64px #2c9ceb,56px 64px #2c9ceb,60px 64px #2c9ceb;
 }
&.facebook::before {
     width: 4px;
     height: 4px;
     box-shadow: 8px 4px #4566ae,12px 4px #4566ae,16px 4px #4566ae,20px 4px #4566ae,24px 4px #4566ae,28px 4px #4566ae,32px 4px #4566ae,36px 4px #4566ae,40px 4px #4566ae,44px 4px #4566ae,48px 4px #4566ae,52px 4px #4566ae,56px 4px #4566ae,60px 4px #4566ae,4px 8px #4566ae,8px 8px #4566ae,12px 8px #4566ae,16px 8px #4566ae,20px 8px #4566ae,24px 8px #4566ae,28px 8px #4566ae,32px 8px #4566ae,36px 8px #4566ae,40px 8px #4566ae,44px 8px #fff,48px 8px #fff,52px 8px #fff,56px 8px #fff,60px 8px #4566ae,64px 8px #4566ae,4px 12px #4566ae,8px 12px #4566ae,12px 12px #4566ae,16px 12px #4566ae,20px 12px #4566ae,24px 12px #4566ae,28px 12px #4566ae,32px 12px #4566ae,36px 12px #4566ae,40px 12px #fff,44px 12px #fff,48px 12px #fff,52px 12px #fff,56px 12px #fff,60px 12px #4566ae,64px 12px #4566ae,4px 16px #4566ae,8px 16px #4566ae,12px 16px #4566ae,16px 16px #4566ae,20px 16px #4566ae,24px 16px #4566ae,28px 16px #4566ae,32px 16px #4566ae,36px 16px #fff,40px 16px #fff,44px 16px #fff,48px 16px #fff,52px 16px #fff,56px 16px #fff,60px 16px #4566ae,64px 16px #4566ae,4px 20px #4566ae,8px 20px #4566ae,12px 20px #4566ae,16px 20px #4566ae,20px 20px #4566ae,24px 20px #4566ae,28px 20px #4566ae,32px 20px #4566ae,36px 20px #fff,40px 20px #fff,44px 20px #fff,48px 20px #4566ae,52px 20px #4566ae,56px 20px #4566ae,60px 20px #4566ae,64px 20px #4566ae,4px 24px #4566ae,8px 24px #4566ae,12px 24px #4566ae,16px 24px #4566ae,20px 24px #4566ae,24px 24px #4566ae,28px 24px #4566ae,32px 24px #4566ae,36px 24px #fff,40px 24px #fff,44px 24px #fff,48px 24px #4566ae,52px 24px #4566ae,56px 24px #4566ae,60px 24px #4566ae,64px 24px #4566ae,4px 28px #4566ae,8px 28px #4566ae,12px 28px #4566ae,16px 28px #4566ae,20px 28px #4566ae,24px 28px #4566ae,28px 28px #4566ae,32px 28px #4566ae,36px 28px #fff,40px 28px #fff,44px 28px #fff,48px 28px #4566ae,52px 28px #4566ae,56px 28px #4566ae,60px 28px #4566ae,64px 28px #4566ae,4px 32px #4566ae,8px 32px #4566ae,12px 32px #4566ae,16px 32px #4566ae,20px 32px #4566ae,24px 32px #fff,28px 32px #fff,32px 32px #fff,36px 32px #fff,40px 32px #fff,44px 32px #fff,48px 32px #fff,52px 32px #fff,56px 32px #fff,60px 32px #4566ae,64px 32px #4566ae,4px 36px #4566ae,8px 36px #4566ae,12px 36px #4566ae,16px 36px #4566ae,20px 36px #4566ae,24px 36px #fff,28px 36px #fff,32px 36px #fff,36px 36px #fff,40px 36px #fff,44px 36px #fff,48px 36px #fff,52px 36px #fff,56px 36px #fff,60px 36px #4566ae,64px 36px #4566ae,4px 40px #4566ae,8px 40px #4566ae,12px 40px #4566ae,16px 40px #4566ae,20px 40px #4566ae,24px 40px #fff,28px 40px #fff,32px 40px #fff,36px 40px #fff,40px 40px #fff,44px 40px #fff,48px 40px #fff,52px 40px #fff,56px 40px #fff,60px 40px #4566ae,64px 40px #4566ae,4px 44px #4566ae,8px 44px #4566ae,12px 44px #4566ae,16px 44px #4566ae,20px 44px #4566ae,24px 44px #4566ae,28px 44px #4566ae,32px 44px #4566ae,36px 44px #fff,40px 44px #fff,44px 44px #fff,48px 44px #4566ae,52px 44px #4566ae,56px 44px #4566ae,60px 44px #4566ae,64px 44px #4566ae,4px 48px #4566ae,8px 48px #4566ae,12px 48px #4566ae,16px 48px #4566ae,20px 48px #4566ae,24px 48px #4566ae,28px 48px #4566ae,32px 48px #4566ae,36px 48px #fff,40px 48px #fff,44px 48px #fff,48px 48px #4566ae,52px 48px #4566ae,56px 48px #4566ae,60px 48px #4566ae,64px 48px #4566ae,4px 52px #4566ae,8px 52px #4566ae,12px 52px #4566ae,16px 52px #4566ae,20px 52px #4566ae,24px 52px #4566ae,28px 52px #4566ae,32px 52px #4566ae,36px 52px #fff,40px 52px #fff,44px 52px #fff,48px 52px #4566ae,52px 52px #4566ae,56px 52px #4566ae,60px 52px #4566ae,64px 52px #4566ae,4px 56px #4566ae,8px 56px #4566ae,12px 56px #4566ae,16px 56px #4566ae,20px 56px #4566ae,24px 56px #4566ae,28px 56px #4566ae,32px 56px #4566ae,36px 56px #fff,40px 56px #fff,44px 56px #fff,48px 56px #4566ae,52px 56px #4566ae,56px 56px #4566ae,60px 56px #4566ae,64px 56px #4566ae,4px 60px #4566ae,8px 60px #4566ae,12px 60px #4566ae,16px 60px #4566ae,20px 60px #4566ae,24px 60px #4566ae,28px 60px #4566ae,32px 60px #4566ae,36px 60px #fff,40px 60px #fff,44px 60px #fff,48px 60px #4566ae,52px 60px #4566ae,56px 60px #4566ae,60px 60px #4566ae,64px 60px #4566ae,8px 64px #4566ae,12px 64px #4566ae,16px 64px #4566ae,20px 64px #4566ae,24px 64px #4566ae,28px 64px #4566ae,32px 64px #4566ae,36px 64px #fff,40px 64px #fff,44px 64px #fff,48px 64px #4566ae,52px 64px #4566ae,56px 64px #4566ae,60px 64px #4566ae;
 }
&.github::before {
     width: 4px;
     height: 4px;
     box-shadow: 8px 4px #333,12px 4px #333,16px 4px #333,20px 4px #333,24px 4px #333,28px 4px #333,32px 4px #333,36px 4px #333,40px 4px #333,44px 4px #333,48px 4px #333,52px 4px #333,56px 4px #333,60px 4px #333,4px 8px #333,8px 8px #333,12px 8px #333,16px 8px #333,20px 8px #fff,24px 8px #333,28px 8px #333,32px 8px #333,36px 8px #333,40px 8px #333,44px 8px #333,48px 8px #333,52px 8px #333,56px 8px #fff,60px 8px #333,64px 8px #333,4px 12px #333,8px 12px #333,12px 12px #333,16px 12px #333,20px 12px #fff,24px 12px #fff,28px 12px #333,32px 12px #333,36px 12px #333,40px 12px #333,44px 12px #333,48px 12px #333,52px 12px #fff,56px 12px #fff,60px 12px #333,64px 12px #333,4px 16px #333,8px 16px #333,12px 16px #333,16px 16px #333,20px 16px #fff,24px 16px #fff,28px 16px #fff,32px 16px #fff,36px 16px #fff,40px 16px #fff,44px 16px #fff,48px 16px #fff,52px 16px #fff,56px 16px #fff,60px 16px #333,64px 16px #333,4px 20px #333,8px 20px #333,12px 20px #333,16px 20px #fff,20px 20px #fff,24px 20px #fff,28px 20px #fff,32px 20px #fff,36px 20px #fff,40px 20px #fff,44px 20px #fff,48px 20px #fff,52px 20px #fff,56px 20px #fff,60px 20px #fff,64px 20px #333,4px 24px #333,8px 24px #333,12px 24px #333,16px 24px #fff,20px 24px #fff,24px 24px #fff,28px 24px #fff,32px 24px #fff,36px 24px #fff,40px 24px #fff,44px 24px #fff,48px 24px #fff,52px 24px #fff,56px 24px #fff,60px 24px #fff,64px 24px #333,4px 28px #333,8px 28px #333,12px 28px #333,16px 28px #fff,20px 28px #fff,24px 28px #fff,28px 28px #fff,32px 28px #fff,36px 28px #fff,40px 28px #fff,44px 28px #fff,48px 28px #fff,52px 28px #fff,56px 28px #fff,60px 28px #fff,64px 28px #333,4px 32px #333,8px 32px #333,12px 32px #333,16px 32px #fff,20px 32px #fff,24px 32px #fff,28px 32px #fff,32px 32px #fff,36px 32px #fff,40px 32px #fff,44px 32px #fff,48px 32px #fff,52px 32px #fff,56px 32px #fff,60px 32px #fff,64px 32px #333,4px 36px #333,8px 36px #333,12px 36px #333,16px 36px #333,20px 36px #fff,24px 36px #fff,28px 36px #fff,32px 36px #fff,36px 36px #fff,40px 36px #fff,44px 36px #fff,48px 36px #fff,52px 36px #fff,56px 36px #fff,60px 36px #333,64px 36px #333,4px 40px #333,8px 40px #333,12px 40px #333,16px 40px #333,20px 40px #333,24px 40px #fff,28px 40px #fff,32px 40px #fff,36px 40px #fff,40px 40px #fff,44px 40px #fff,48px 40px #fff,52px 40px #fff,56px 40px #333,60px 40px #333,64px 40px #333,4px 44px #333,8px 44px #fff,12px 44px #fff,16px 44px #333,20px 44px #333,24px 44px #333,28px 44px #333,32px 44px #fff,36px 44px #fff,40px 44px #fff,44px 44px #fff,48px 44px #333,52px 44px #333,56px 44px #333,60px 44px #333,64px 44px #333,4px 48px #333,8px 48px #333,12px 48px #333,16px 48px #fff,20px 48px #333,24px 48px #333,28px 48px #fff,32px 48px #fff,36px 48px #fff,40px 48px #fff,44px 48px #fff,48px 48px #fff,52px 48px #333,56px 48px #333,60px 48px #333,64px 48px #333,4px 52px #333,8px 52px #333,12px 52px #333,16px 52px #333,20px 52px #fff,24px 52px #fff,28px 52px #fff,32px 52px #fff,36px 52px #fff,40px 52px #fff,44px 52px #fff,48px 52px #fff,52px 52px #333,56px 52px #333,60px 52px #333,64px 52px #333,4px 56px #333,8px 56px #333,12px 56px #333,16px 56px #333,20px 56px #333,24px 56px #333,28px 56px #fff,32px 56px #fff,36px 56px #fff,40px 56px #fff,44px 56px #fff,48px 56px #fff,52px 56px #333,56px 56px #333,60px 56px #333,64px 56px #333,4px 60px #333,8px 60px #333,12px 60px #333,16px 60px #333,20px 60px #333,24px 60px #333,28px 60px #fff,32px 60px #fff,36px 60px #fff,40px 60px #fff,44px 60px #fff,48px 60px #fff,52px 60px #333,56px 60px #333,60px 60px #333,64px 60px #333,8px 64px #333,12px 64px #333,16px 64px #333,20px 64px #333,24px 64px #333,28px 64px #333,32px 64px #333,36px 64px #333,40px 64px #333,44px 64px #333,48px 64px #333,52px 64px #333,56px 64px #333,60px 64px #333;
 }
&.close::before {
     width: 4px;
     height: 4px;
     box-shadow: 4px 4px #212529,8px 4px #212529,12px 4px #212529,16px 4px #212529,52px 4px #212529,56px 4px #212529,60px 4px #212529,64px 4px #212529,4px 8px #212529,8px 8px #212529,12px 8px #212529,16px 8px #212529,52px 8px #212529,56px 8px #212529,60px 8px #212529,64px 8px #212529,4px 12px #212529,8px 12px #212529,12px 12px #212529,16px 12px #212529,52px 12px #212529,56px 12px #212529,60px 12px #212529,64px 12px #212529,4px 16px #212529,8px 16px #212529,12px 16px #212529,16px 16px #212529,20px 16px #212529,24px 16px #212529,28px 16px #212529,40px 16px #212529,44px 16px #212529,48px 16px #212529,52px 16px #212529,56px 16px #212529,60px 16px #212529,64px 16px #212529,16px 20px #212529,20px 20px #212529,24px 20px #212529,28px 20px #212529,40px 20px #212529,44px 20px #212529,48px 20px #212529,52px 20px #212529,16px 24px #212529,20px 24px #212529,24px 24px #212529,28px 24px #212529,40px 24px #212529,44px 24px #212529,48px 24px #212529,52px 24px #212529,16px 28px #212529,20px 28px #212529,24px 28px #212529,28px 28px #212529,32px 28px #212529,36px 28px #212529,40px 28px #212529,44px 28px #212529,48px 28px #212529,52px 28px #212529,28px 32px #212529,32px 32px #212529,36px 32px #212529,40px 32px #212529,28px 36px #212529,32px 36px #212529,36px 36px #212529,40px 36px #212529,16px 40px #212529,20px 40px #212529,24px 40px #212529,28px 40px #212529,32px 40px #212529,36px 40px #212529,40px 40px #212529,44px 40px #212529,48px 40px #212529,52px 40px #212529,16px 44px #212529,20px 44px #212529,24px 44px #212529,28px 44px #212529,40px 44px #212529,44px 44px #212529,48px 44px #212529,52px 44px #212529,16px 48px #212529,20px 48px #212529,24px 48px #212529,28px 48px #212529,40px 48px #212529,44px 48px #212529,48px 48px #212529,52px 48px #212529,4px 52px #212529,8px 52px #212529,12px 52px #212529,16px 52px #212529,20px 52px #212529,24px 52px #212529,28px 52px #212529,40px 52px #212529,44px 52px #212529,48px 52px #212529,52px 52px #212529,56px 52px #212529,60px 52px #212529,64px 52px #212529,4px 56px #212529,8px 56px #212529,12px 56px #212529,16px 56px #212529,52px 56px #212529,56px 56px #212529,60px 56px #212529,64px 56px #212529,4px 60px #212529,8px 60px #212529,12px 60px #212529,16px 60px #212529,52px 60px #212529,56px 60px #212529,60px 60px #212529,64px 60px #212529,4px 64px #212529,8px 64px #212529,12px 64px #212529,16px 64px #212529,52px 64px #212529,56px 64px #212529,60px 64px #212529,64px 64px #212529;
 }
}
}

.nes-logo {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 33px;
&::before {
     position: absolute;
     top: -3px;
     left: -3px;
     content: "";
     background: transparent;
     width: 3px;
     height: 3px;
     box-shadow: 21px 3px #333,21px 6px #333,24px 9px #333,9px 12px #333,12px 12px #333,15px 12px #333,18px 12px #333,21px 12px #333,24px 12px #333,27px 12px #333,30px 12px #333,33px 12px #333,36px 12px #333,39px 12px #333,6px 15px #333,9px 15px #d7d7d7,12px 15px #d7d7d7,15px 15px #d7d7d7,18px 15px #d7d7d7,21px 15px #d7d7d7,24px 15px #d7d7d7,27px 15px #d7d7d7,30px 15px #d7d7d7,33px 15px #d7d7d7,36px 15px #d7d7d7,39px 15px #d7d7d7,42px 15px #333,3px 18px #333,6px 18px #d7d7d7,9px 18px #d7d7d7,12px 18px #333,15px 18px #d7d7d7,18px 18px #d7d7d7,21px 18px #d7d7d7,24px 18px #d7d7d7,27px 18px #d7d7d7,30px 18px #d7d7d7,33px 18px #d7d7d7,36px 18px #999cf7,39px 18px #d7d7d7,42px 18px #d7d7d7,45px 18px #333,3px 21px #333,6px 21px #d7d7d7,9px 21px #333,12px 21px #333,15px 21px #333,18px 21px #d7d7d7,21px 21px #d7d7d7,24px 21px #d7d7d7,27px 21px #d7d7d7,30px 21px #d7d7d7,33px 21px #7dbb78,36px 21px #d7d7d7,39px 21px #f40500,42px 21px #d7d7d7,45px 21px #333,3px 24px #333,6px 24px #d7d7d7,9px 24px #d7d7d7,12px 24px #333,15px 24px #d7d7d7,18px 24px #d7d7d7,21px 24px #333,24px 24px #d7d7d7,27px 24px #333,30px 24px #d7d7d7,33px 24px #d7d7d7,36px 24px #f6f504,39px 24px #d7d7d7,42px 24px #d7d7d7,45px 24px #333,6px 27px #333,9px 27px #d7d7d7,12px 27px #d7d7d7,15px 27px #d7d7d7,18px 27px #d7d7d7,21px 27px #d7d7d7,24px 27px #d7d7d7,27px 27px #d7d7d7,30px 27px #d7d7d7,33px 27px #d7d7d7,36px 27px #d7d7d7,39px 27px #d7d7d7,42px 27px #333,9px 30px #333,12px 30px #333,15px 30px #333,18px 30px #333,21px 30px #333,24px 30px #333,27px 30px #333,30px 30px #333,33px 30px #333,36px 30px #333,39px 30px #333;
 }
}

.bcrikko {
    position: relative;
    display: inline-block;
    width: 64px;
    height: 64px;
&::before {
     position: absolute;
     top: -4px;
     left: -4px;
     content: "";
     background: transparent;
     width: 4px;
     height: 4px;
     box-shadow: 8px 4px #f9f2d7,12px 4px #f9f2d7,16px 4px #f9f2d7,20px 4px #f9f2d7,24px 4px #f9f2d7,28px 4px #f9f2d7,32px 4px #f9f2d7,36px 4px #f9f2d7,40px 4px #f9f2d7,44px 4px #f9f2d7,48px 4px #f9f2d7,52px 4px #f9f2d7,56px 4px #f9f2d7,60px 4px #f9f2d7,4px 8px #f9f2d7,8px 8px #f9f2d7,12px 8px #f9f2d7,16px 8px #f9f2d7,20px 8px #f9f2d7,24px 8px #f9f2d7,28px 8px #f9f2d7,32px 8px #f9f2d7,36px 8px #f9f2d7,40px 8px #f9f2d7,44px 8px #f9f2d7,48px 8px #f9f2d7,52px 8px #f9f2d7,56px 8px #f9f2d7,60px 8px #f9f2d7,64px 8px #f9f2d7,4px 12px #f9f2d7,8px 12px #f9f2d7,12px 12px #f9f2d7,16px 12px #f9f2d7,20px 12px #f9f2d7,24px 12px #f9f2d7,28px 12px #f9f2d7,32px 12px #f9f2d7,36px 12px #f9f2d7,40px 12px #f9f2d7,44px 12px #f9f2d7,48px 12px #f9f2d7,52px 12px #f9f2d7,56px 12px #f9f2d7,60px 12px #f9f2d7,64px 12px #f9f2d7,4px 16px #f9f2d7,8px 16px #f9f2d7,12px 16px #f9f2d7,16px 16px #f9f2d7,20px 16px #333,24px 16px #333,28px 16px #f9f2d7,32px 16px #f9f2d7,36px 16px #f9f2d7,40px 16px #f9f2d7,44px 16px #333,48px 16px #333,52px 16px #f9f2d7,56px 16px #f9f2d7,60px 16px #f9f2d7,64px 16px #f9f2d7,4px 20px #f9f2d7,8px 20px #f9f2d7,12px 20px #f9f2d7,16px 20px #333,20px 20px #333,24px 20px #fff,28px 20px #333,32px 20px #f9f2d7,36px 20px #f9f2d7,40px 20px #333,44px 20px #333,48px 20px #fff,52px 20px #333,56px 20px #f9f2d7,60px 20px #f9f2d7,64px 20px #f9f2d7,4px 24px #f9f2d7,8px 24px #f9f2d7,12px 24px #f9f2d7,16px 24px #333,20px 24px #333,24px 24px #333,28px 24px #333,32px 24px #f9f2d7,36px 24px #f9f2d7,40px 24px #333,44px 24px #333,48px 24px #333,52px 24px #333,56px 24px #f9f2d7,60px 24px #f9f2d7,64px 24px #f9f2d7,4px 28px #f9f2d7,8px 28px #f9f2d7,12px 28px #f9f2d7,16px 28px #333,20px 28px #333,24px 28px #333,28px 28px #333,32px 28px #f9f2d7,36px 28px #f9f2d7,40px 28px #333,44px 28px #333,48px 28px #333,52px 28px #333,56px 28px #f9f2d7,60px 28px #f9f2d7,64px 28px #f9f2d7,4px 32px #f9f2d7,8px 32px #f9f2d7,12px 32px #f9f2d7,16px 32px #333,20px 32px #333,24px 32px #333,28px 32px #333,32px 32px #f9f2d7,36px 32px #f9f2d7,40px 32px #333,44px 32px #333,48px 32px #333,52px 32px #333,56px 32px #f9f2d7,60px 32px #f9f2d7,64px 32px #f9f2d7,4px 36px #f9f2d7,8px 36px #f9f2d7,12px 36px #f9f2d7,16px 36px #f9f2d7,20px 36px #333,24px 36px #333,28px 36px #f9f2d7,32px 36px #f9f2d7,36px 36px #f9f2d7,40px 36px #f9f2d7,44px 36px #333,48px 36px #333,52px 36px #f9f2d7,56px 36px #f9f2d7,60px 36px #f9f2d7,64px 36px #f9f2d7,4px 40px #f9f2d7,8px 40px #f9f2d7,12px 40px #f9f2d7,16px 40px #f9f2d7,20px 40px #f9f2d7,24px 40px #f9f2d7,28px 40px #f9f2d7,32px 40px #f9f2d7,36px 40px #f9f2d7,40px 40px #f9f2d7,44px 40px #f9f2d7,48px 40px #f9f2d7,52px 40px #f9f2d7,56px 40px #f9f2d7,60px 40px #f9f2d7,64px 40px #f9f2d7,4px 44px #f9f2d7,8px 44px #f9f2d7,12px 44px #f9f2d7,16px 44px #f9f2d7,20px 44px #f9f2d7,24px 44px #f9f2d7,28px 44px #f9f2d7,32px 44px #f9f2d7,36px 44px #f9f2d7,40px 44px #f9f2d7,44px 44px #f9f2d7,48px 44px #f9f2d7,52px 44px #f9f2d7,56px 44px #f9f2d7,60px 44px #f9f2d7,64px 44px #f9f2d7,4px 48px #f9f2d7,8px 48px #f9f2d7,12px 48px #f9f2d7,16px 48px #c5090c,20px 48px #f9f2d7,24px 48px #f9f2d7,28px 48px #f9f2d7,32px 48px #f9f2d7,36px 48px #f9f2d7,40px 48px #f9f2d7,44px 48px #f9f2d7,48px 48px #f9f2d7,52px 48px #c5090c,56px 48px #f9f2d7,60px 48px #f9f2d7,64px 48px #f9f2d7,4px 52px #f9f2d7,8px 52px #f9f2d7,12px 52px #f9f2d7,16px 52px #c5090c,20px 52px #f9f2d7,24px 52px #f9f2d7,28px 52px #f9f2d7,32px 52px #f9f2d7,36px 52px #f9f2d7,40px 52px #f9f2d7,44px 52px #f9f2d7,48px 52px #f9f2d7,52px 52px #c5090c,56px 52px #f9f2d7,60px 52px #f9f2d7,64px 52px #f9f2d7,4px 56px #f9f2d7,8px 56px #f9f2d7,12px 56px #f9f2d7,16px 56px #f9f2d7,20px 56px #c5090c,24px 56px #c5090c,28px 56px #c5090c,32px 56px #c5090c,36px 56px #c5090c,40px 56px #c5090c,44px 56px #c5090c,48px 56px #c5090c,52px 56px #f9f2d7,56px 56px #f9f2d7,60px 56px #f9f2d7,64px 56px #f9f2d7,4px 60px #f9f2d7,8px 60px #f9f2d7,12px 60px #f9f2d7,16px 60px #f9f2d7,20px 60px #f9f2d7,24px 60px #f9f2d7,28px 60px #f9f2d7,32px 60px #f9f2d7,36px 60px #f9f2d7,40px 60px #f9f2d7,44px 60px #f9f2d7,48px 60px #f9f2d7,52px 60px #f9f2d7,56px 60px #f9f2d7,60px 60px #f9f2d7,64px 60px #f9f2d7,8px 64px #f9f2d7,12px 64px #f9f2d7,16px 64px #f9f2d7,20px 64px #f9f2d7,24px 64px #f9f2d7,28px 64px #f9f2d7,32px 64px #f9f2d7,36px 64px #f9f2d7,40px 64px #f9f2d7,44px 64px #f9f2d7,48px 64px #f9f2d7,52px 64px #f9f2d7,56px 64px #f9f2d7,60px 64px #f9f2d7;
 }
}

.octocat {
    position: relative;
    display: inline-block;
    width: 84px;
    height: 90px;
&::before {
     position: absolute;
     top: -6px;
     left: -6px;
     content: "";
     background: transparent;
     width: 6px;
     height: 6px;
     box-shadow: 24px 6px #333,78px 6px #333,24px 12px #333,30px 12px #333,72px 12px #333,78px 12px #333,24px 18px #333,30px 18px #333,36px 18px #333,42px 18px #333,48px 18px #333,54px 18px #333,60px 18px #333,66px 18px #333,72px 18px #333,78px 18px #333,18px 24px #333,24px 24px #333,30px 24px #333,36px 24px #333,42px 24px #333,48px 24px #333,54px 24px #333,60px 24px #333,66px 24px #333,72px 24px #333,78px 24px #333,84px 24px #333,18px 30px #333,24px 30px #333,30px 30px #333,36px 30px #333,42px 30px #333,48px 30px #333,54px 30px #333,60px 30px #333,66px 30px #333,72px 30px #333,78px 30px #333,84px 30px #333,18px 36px #333,24px 36px #333,30px 36px #333,36px 36px #ffdec4,42px 36px #ffdec4,48px 36px #ffdec4,54px 36px #ffdec4,60px 36px #ffdec4,66px 36px #ffdec4,72px 36px #333,78px 36px #333,84px 36px #333,18px 42px #333,24px 42px #333,30px 42px #ffdec4,36px 42px #cb7066,42px 42px #ffdec4,48px 42px #ffdec4,54px 42px #ffdec4,60px 42px #ffdec4,66px 42px #cb7066,72px 42px #ffdec4,78px 42px #333,84px 42px #333,18px 48px #333,24px 48px #333,30px 48px #ffdec4,36px 48px #cb7066,42px 48px #ffdec4,48px 48px #ffdec4,54px 48px #ffdec4,60px 48px #ffdec4,66px 48px #cb7066,72px 48px #ffdec4,78px 48px #333,84px 48px #333,24px 54px #333,30px 54px #333,36px 54px #ffdec4,42px 54px #ffdec4,48px 54px #cb7066,54px 54px #cb7066,60px 54px #ffdec4,66px 54px #ffdec4,72px 54px #333,78px 54px #333,6px 60px #333,12px 60px #333,42px 60px #333,48px 60px #333,54px 60px #333,60px 60px #333,18px 66px #333,24px 66px #333,36px 66px #333,42px 66px #333,48px 66px #333,54px 66px #333,60px 66px #333,66px 66px #333,24px 72px #333,30px 72px #333,36px 72px #333,42px 72px #333,48px 72px #333,54px 72px #333,60px 72px #333,66px 72px #333,36px 78px #333,48px 78px #333,54px 78px #333,66px 78px #333,36px 84px #333,48px 84px #333,54px 84px #333,66px 84px #333,30px 90px #333,42px 90px #333,60px 90px #333,72px 90px #333;
 }
&.animate::before {
     animation: wave 0.5s infinite steps(1);
 }
}

@keyframes wave {
    0% {
        width: 6px;
        height: 6px;
        box-shadow: 24px 6px #333,78px 6px #333,24px 12px #333,30px 12px #333,72px 12px #333,78px 12px #333,24px 18px #333,30px 18px #333,36px 18px #333,42px 18px #333,48px 18px #333,54px 18px #333,60px 18px #333,66px 18px #333,72px 18px #333,78px 18px #333,18px 24px #333,24px 24px #333,30px 24px #333,36px 24px #333,42px 24px #333,48px 24px #333,54px 24px #333,60px 24px #333,66px 24px #333,72px 24px #333,78px 24px #333,84px 24px #333,18px 30px #333,24px 30px #333,30px 30px #333,36px 30px #333,42px 30px #333,48px 30px #333,54px 30px #333,60px 30px #333,66px 30px #333,72px 30px #333,78px 30px #333,84px 30px #333,18px 36px #333,24px 36px #333,30px 36px #333,36px 36px #ffdec4,42px 36px #ffdec4,48px 36px #ffdec4,54px 36px #ffdec4,60px 36px #ffdec4,66px 36px #ffdec4,72px 36px #333,78px 36px #333,84px 36px #333,18px 42px #333,24px 42px #333,30px 42px #ffdec4,36px 42px #cb7066,42px 42px #ffdec4,48px 42px #ffdec4,54px 42px #ffdec4,60px 42px #ffdec4,66px 42px #cb7066,72px 42px #ffdec4,78px 42px #333,84px 42px #333,18px 48px #333,24px 48px #333,30px 48px #ffdec4,36px 48px #cb7066,42px 48px #ffdec4,48px 48px #ffdec4,54px 48px #ffdec4,60px 48px #ffdec4,66px 48px #cb7066,72px 48px #ffdec4,78px 48px #333,84px 48px #333,24px 54px #333,30px 54px #333,36px 54px #ffdec4,42px 54px #ffdec4,48px 54px #cb7066,54px 54px #cb7066,60px 54px #ffdec4,66px 54px #ffdec4,72px 54px #333,78px 54px #333,6px 60px #333,12px 60px #333,42px 60px #333,48px 60px #333,54px 60px #333,60px 60px #333,18px 66px #333,24px 66px #333,36px 66px #333,42px 66px #333,48px 66px #333,54px 66px #333,60px 66px #333,66px 66px #333,24px 72px #333,30px 72px #333,36px 72px #333,42px 72px #333,48px 72px #333,54px 72px #333,60px 72px #333,66px 72px #333,36px 78px #333,48px 78px #333,54px 78px #333,66px 78px #333,36px 84px #333,48px 84px #333,54px 84px #333,66px 84px #333,30px 90px #333,42px 90px #333,60px 90px #333,72px 90px #333;
    }

    50% {
        width: 6px;
        height: 6px;
        box-shadow: 24px 6px #333,78px 6px #333,24px 12px #333,30px 12px #333,72px 12px #333,78px 12px #333,24px 18px #333,30px 18px #333,36px 18px #333,42px 18px #333,48px 18px #333,54px 18px #333,60px 18px #333,66px 18px #333,72px 18px #333,78px 18px #333,18px 24px #333,24px 24px #333,30px 24px #333,36px 24px #333,42px 24px #333,48px 24px #333,54px 24px #333,60px 24px #333,66px 24px #333,72px 24px #333,78px 24px #333,84px 24px #333,18px 30px #333,24px 30px #333,30px 30px #333,36px 30px #333,42px 30px #333,48px 30px #333,54px 30px #333,60px 30px #333,66px 30px #333,72px 30px #333,78px 30px #333,84px 30px #333,18px 36px #333,24px 36px #333,30px 36px #333,36px 36px #ffdec4,42px 36px #ffdec4,48px 36px #ffdec4,54px 36px #ffdec4,60px 36px #ffdec4,66px 36px #ffdec4,72px 36px #333,78px 36px #333,84px 36px #333,18px 42px #333,24px 42px #333,30px 42px #ffdec4,36px 42px #ffdec4,42px 42px #ffdec4,48px 42px #ffdec4,54px 42px #ffdec4,60px 42px #ffdec4,66px 42px #ffdec4,72px 42px #ffdec4,78px 42px #333,84px 42px #333,12px 48px #333,18px 48px #333,24px 48px #333,30px 48px #ffdec4,36px 48px #cb7066,42px 48px #ffdec4,48px 48px #ffdec4,54px 48px #ffdec4,60px 48px #ffdec4,66px 48px #cb7066,72px 48px #ffdec4,78px 48px #333,84px 48px #333,12px 54px #333,24px 54px #333,30px 54px #333,36px 54px #ffdec4,42px 54px #ffdec4,48px 54px #cb7066,54px 54px #cb7066,60px 54px #ffdec4,66px 54px #ffdec4,72px 54px #333,78px 54px #333,18px 60px #333,42px 60px #333,48px 60px #333,54px 60px #333,60px 60px #333,24px 66px #333,36px 66px #333,42px 66px #333,48px 66px #333,54px 66px #333,60px 66px #333,66px 66px #333,24px 72px #333,30px 72px #333,36px 72px #333,42px 72px #333,48px 72px #333,54px 72px #333,60px 72px #333,66px 72px #333,36px 78px #333,48px 78px #333,54px 78px #333,66px 78px #333,36px 84px #333,48px 84px #333,54px 84px #333,66px 84px #333,30px 90px #333,42px 90px #333,60px 90px #333,72px 90px #333;
    }
}


/*# sourceMappingURL=nes.css.map */